{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: "О компании", "link": "about"} ]}) }}
{{ include('user/common/title.html.twig', {title: 'О юридической компании', subtitle: 'Кто мы?'})}}

        <div class="about_warapper content_wrapper">
        {% for index, item in about_items %}
            <div class="about_item">
                <img src="{{site_url}}/files/about_items/600_w/{{item.img}}" alt="" title="" />
                <p> {{item.text}}</p>
            </div>
        {% endfor %}
        </div>

        <div class="block_title_wrapper">
            <div class="block_title_line">
            </div>
            <div class="content_wrapper">
                <div class="block_title block_title_left">
                    <a>Наши преимущества</a>
                </div>
            </div>
        </div> 
{{ include('user/common/advantages.html.twig') }}

{{ include('user/common/persons.html.twig') }}
        <div class="warp_2p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/subscription_services.html.twig') }}
<div class="warp_2p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}