{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: "Контакты", "link": "contacts"} ]}) }}
{{ include('user/common/title.html.twig', {title: json_blocks.titles.contacts.title, subtitle: json_blocks.titles.contacts.sub_title})}}



<div class="content_wrapper contacts">
        <script type="text/javascript" charset="utf-8" async src="{{json_blocks.contact_page.map_link}}&height=400"></script>


        <p class="route_title">{{json_blocks.contact_page.route.title}}  <span class="route_time">({{json_blocks.contact_page.route.time}})</span></p>
        <p class="route_metro_line">({{json_blocks.contact_page.route.metro.line.title}}, Линия №{{json_blocks.contact_page.route.metro.line.number}}, <span style="color:{{json_blocks.contact_page.route.metro.line.color.hex}}">{{json_blocks.contact_page.route.metro.line.color.title}}</span>)</p>
        
        <p class="route_steps">
        {% for index, step in json_blocks.contact_page.route.steps %}
                {{step}} {%if (json_blocks.contact_page.route.steps|length) > index+1 %}➠{%endif%}
        {% endfor %}
        </p>

        <h2>{{json_blocks.contact_page.info_block.title}}</h2>
        <h3>{{json_blocks.contact_page.info_block.company_name}}</h3>
        <div class="contact_info_cred_wrapper">
        <div class="item main_contact_info">
                <div class="contact_info_p">
                        <p><b>{{json_blocks.contact_page.info_block.address.title}}</b></p>
                        <p>{{json_blocks.contact_page.info_block.address.data}}</p>
                </div>
                <div class="cred">
                        {% for index, item in json_blocks.contact_page.info_block.tels %}
                        <a href="tel:{{item[1]}}">{%if (index==0) %}<img src="{{ site_url }}/images/icons/phone_contacts.svg" title="Телефон" alt="Телефон">{%endif%}{{item[0]}}{%if (json_blocks.contact_page.info_block.tels|length) > index+1 %},{%endif%}</a> 
                        {% endfor %}
                        <a href="{{json_blocks.contact_page.info_block.telegram}}"><img src="{{ site_url }}/images/icons/phone_contacts.svg" title="Telegram" alt="Telegram">Мы в Telegram</a>
                        <a href="{{json_blocks.contact_page.info_block.whats_app}}"><img src="{{ site_url }}/images/icons/whatsapp_contacts.svg" title="WhatsApp" alt="WhatsApp">Мы в WhatsApp</a>
                        <a href="mailto:{{json_blocks.contact_page.info_block.email}}" target="_blank"><img src="{{ site_url }}/images/icons/phone_contacts.svg" title="Email" alt="Email">{{json_blocks.contact_page.info_block.email}}</a>
                        <a><img src="{{ site_url }}/images/icons/phone_contacts.svg" title="Рабочее время" alt="Рабочее время">{{json_blocks.contact_page.info_block.work_time}}</a>
                </div>
        </div>

        <div class="item">
                {% for item in json_blocks.contact_page.info_block.other_info_blocks %}
        <div class="contact_info_p">
                <p><b>{{item.title}}</b></p>
                <p>{{item.data}}</p>
                </div>
                {% endfor %}
        </div>
        </div>

</div>

        <div class="warp_1_5p"></div>
{{ include('user/common/persons.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}