{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name:"О компании", "link": "about"},{name: "Документы", "link": "docs"} ]}) }}
{{ include('user/common/title.html.twig', {title: json_blocks.titles.docs.title, subtitle: json_blocks.titles.docs.sub_title})}}
<div class="content_wrapper">
        <div class="docs " >
        <a name="docs"></a>
                <ul>
                {% for doc in docs %}
                <li><a href="{{site_url}}/files/{{files_dir}}/original/{{doc.url}}" target="_blank" >
                        <div class="inline"><img src="images/icons/pdf_file.svg" alt="{{doc.name}}" /></div>
                        <div class="inline"><p class="doc_title">{{doc.name}}</p><p class="doc_subtitle">{{doc.description}}</p></div></a></li>
                {% endfor %}
                </ul>
        </div>
        {% if total_pages > 1 %}
        {{ include('user/common/page_nav.html.twig', {name:"docs"}) }}
        {% endif %}
</div>
{{ include('user/common/persons.html.twig') }}
        <div class="warp_2p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}