{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "404 page", "link": "404"}]}) }}
{{ include('user/common/title.html.twig', {title: 'ERROR 404', subtitle: 'Страница не найдена'})}}

        <div class="errror_404 content_wrapper">
        <p>Возможно вы заблудились!</p> <p> Перейдите <a href="{{site_url}}">на главную страницу сайта.</a></p>
        </div> 
{{ include('user/common/footer.html.twig') }}