{{ include('user/common/header.html.twig') }}
        <div class="menu_common_wrapper" >
{{ include('user/common/subheader_menu.html.twig') }}
            <div class="content_wrapper main_page_menu" >
                <div class="main_page_menu_info">
                    <h1>{{json_blocks.main_page_lable.title}}</h1>
                    <p>{{json_blocks.main_page_lable.subtitle}}</p>
                    <a class="request_call" data-hystmodal="#request_modal"><span class="inline">Заказать звонок</span><img src="{{ site_url }}/images/icons/arrow.svg" class="inline" title="Заказать звонок" alt="Заказать звонок"></a>
                </div>
                <video autoplay loop muted>
                    <source src="{{site_url}}/images/video_5.mp4" type='video/mp4'>
                </video>
            </div>
            <div class="shadow"></div>
            <div class="fig_1"></div>
            <div class="fig_2"></div>
        </div>

{{ include('user/common/advantages.html.twig') }}
{{ include('user/common/persons.html.twig') }}

        <div class="why_us_block">
            <div class="content_wrapper">
                <h2>Почему мы</h2>
                    <div class="args">
                    {% for item in json_blocks.main_page_why_us.sub_args %}
                        <div class="arg">
                            <h3>{{item.title}}</h3>
                            <p>{{item.text}}</p>
                        </div>
                    {% endfor %}
                    </div>
                    <fieldset>
                        <legend>{{json_blocks.main_page_why_us.main_arg.title}}</legend>
                        <p>{{json_blocks.main_page_why_us.main_arg.text}}</p>
                    </fieldset>
            </div>
        </div>

{{ include('user/common/reviews.html.twig') }}

        <div class="warp_2p"></div>

{{ include('user/common/subscription_services.html.twig') }}

        <div class="warp_2p"></div>
        <div class="block_title_wrapper">
            <div class="block_title_line">
            </div>
            <div class="content_wrapper">
                <div class="block_title block_title_right">
                    <a>Наши услуги </a>
                </div>
            </div>
        </div>

        <div class="services_block">
            <div class="services_group">
                <div class="item left">
                    <h3><a href="{{ site_url }}/services/legal_entities">Юридическим лицам</a></h3>
                    <div class="underline"></div>
                    <ul>
                    {% for item in service_blocks %}
                        {% if  item.type.value == "legal_entities"  %}
                        <li><a href="{{site_url}}/services/{{item.type.value}}/{{item.canonicalUrl}}">{{ item.name | slice(0,35) }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="item right">
                    <h3><a href="{{ site_url }}/services/individuals">Физическим лицам</a></h3>
                    <div class="underline"></div>
                    <ul> 
                        {% for item in service_blocks %}
                        {% if  item.type.value == "individuals"  %}
                        <li><a href="{{site_url}}/services/{{item.type.value}}/{{item.canonicalUrl}}">{{ item.name | slice(0,35) }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="warp_2p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_2p"></div>
        <div class="warp_2p"></div>
{{ include('user/common/footer.html.twig') }}