{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: "Цены", "link": "prices"} ]}) }}
{{ include('user/common/title.html.twig', {title: json_blocks.titles.prices.title, subtitle: json_blocks.titles.prices.sub_title})}}



<div class="content_wrapper prices">

        {% for index, price in prices %}
    <div class="price_wrapper">
        <input type="checkbox" id="toggle-{{index}}" class="open_hide_checkbox" {% if (index!=0) %}checked {%endif%}>
        <label for="toggle-{{index}}" class="open_hide">{{price.name}}<span class="arrow_wrapper_2"><span class="arrow_wrapper">▲</span></span></label>
        <div class="service_view_wrapper checkbox_wrapper">
            {% for index_sub, service in price.serviceItems %}
            <div class="item">
                <div class="service_title">
                    <h3>{{service.name}}</h3>
                    <div class="service_sub_title"></div>
                </div>
                <div class="service_content">
                    <p>{{service.description| nl2br}}</p>
                    <button class="service_price" data-hystmodal="#request_modal"><span>{{service.price}}</span></button>
                </div>
            </div>
              {% endfor %}
            
        </div>
    </div>

  {% endfor %}

</div>

        <div class="warp_1_5p"></div>
{{ include('user/common/persons.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/subscription_services.html.twig') }}
<div class="warp_2p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}