{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "О компании", "link": "about"},{name: "Отзывы", "link": "reviews"} ]}) }}
{{ include('user/common/title.html.twig', {title: json_blocks.titles.reviews.title, subtitle: json_blocks.titles.reviews.sub_title})}}
      
<div class="reviews content_wrapper">

    <a name="reviews"></a>
    <div>
    {% for review in reviews %}
    <div class="reviews_item">
        <div class="review_img_wrapper inline">
        {% if review.url is defined and review.url != ''%}
            <a href="{{site_url}}/files/reviews/original/{{review.url}}"><img src="{{site_url}}/files/reviews/400_w/{{review.url}}" alt="Отзыв от {{review.author}}" title="Отзыв от {{review.author}}" /></a>
        {% endif %}
        </div>
        <div class="review_data inline">
            <h3 class="author">{{review.author}} </h3><h3  class=" company_name">{{review.companyName}}</h3>
            <div class="content">
            {{review.text| nl2br}}
            </div>
            <div class="review_service">

            <p>Услуга:</p>
            <a href="{{site_url}}/services/{{review.serviceItem.service.type.value}}/{{review.serviceItem.service.canonicalUrl}}#{{review.serviceItem.id}}" class="service_name">{{review.serviceItem.name}}</a>
            <a class="service_request" data-hystmodal="#request_modal"><button>Заказать</button></a>

            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% if total_pages > 1 %}
    {{ include('user/common/page_nav.html.twig', {name:"reviews"}) }}
    {% endif %}

    <div style="height:800px;overflow:hidden;position:relative;max-width:750px;margin:0 auto 150px;"><iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/204535940247?comments"></iframe><a href="https://yandex.ru/maps/org/amazon_siti_grupp/204535940247/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Амазон Сити Групп на карте Москвы — Яндекс Карты</a></div>

</div>

{{ include('user/common/persons.html.twig') }}
        <div class="warp_2p"></div>
{{ include('user/common/subscription_services.html.twig') }}
<div class="warp_2p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/footer.html.twig') }}