{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "О компании", "link": "about"},{name: "Сотрудники", "link": "persons"} ]}) }}
{{ include('user/common/title.html.twig', {title: json_blocks.titles.persons.title, subtitle: json_blocks.titles.persons.sub_title})}}
<div class="content_wrapper persons">

<a name="persons"></a>
    <div>
    {% for person in persons %}
      <div class="person_item">
        <div class="inline left_wrapper">
                <div class="image_wrapper">
                        <img src="{{ site_url }}/files/persons/450_w/{{person.img}}" alt="{{person.fullName}}" title="{{person.fullName}}"/>
                        <div class="full_name">{{person.fullName}}</div>
                </div>
                <div class="qualification">{{person.position}}</div>
        </div>
        <div class="description inline">
        <p>{{person.briefInfo}}</p>
        <a href="{{site_url}}/persons/{{person.id}}">Подробнее</a>
        </div>
      </div>
    {% endfor %}
    </div>
    {% if total_pages > 1 %}
    {{ include('user/common/page_nav.html.twig', {name:"persons"}) }}
    {% endif %}

      
</div>
        <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}