{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "О компании", "link": "about"},{name: "Сотрудники", "link": "persons"} ]}) }}
        <div class="block_title_wrapper person_view_title">
            <div class="block_title_line">
            </div>
            <div class="content_wrapper">
                <div class="block_title block_title_left">
                    <a >Юрист </a>
                </div>
            </div>
        </div> 

<div class="content_wrapper person_view">
      <h1 class="full_name">{{person.fullName}}</h1>
      <div class="sub_h1"></div>
      
      <div class="person_view_wrapper">
        <div class="person_view_wrapper_l2">
            <div class="inline person_view_img_wrapper">
                <img src="{{site_url}}/files/persons/450_w/{{person.img}}" alt="{{person.fullName}}" title="{{person.fullName}}"/>
            </div>
            <div class="description inline">
                <p>{{person.briefInfo| nl2br}}</p>
            </div>
        </div>

        <div class="detail_info">
            <p>{{person.position}}</p>
            {{person.qualification | raw}}
        </div>
    </div>
</div>
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}