<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="{{ site_url }}/js/jquery-3.5.1.min.js" ></script>

    <script src="{{ site_url }}/js/popper.min.js"></script>

    <link rel="stylesheet" href="{{ site_url }}/css/bootstrap.min.css"  rel="stylesheet">
    <script src="{{ site_url }}/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ site_url }}/css/admin_style.css" />

    <link href="{{ site_url }}/css/summernote-bs4.min.css" rel="stylesheet">
    <script src="{{ site_url }}/js/summernote-bs4.min.js"></script>

    <link  href="{{ site_url }}/css/cropper.min.css" rel="stylesheet">
    <script src="{{ site_url }}/js/cropper.min.js"></script>
    <title> {{ title }} Admin Panel - Amazon City Group</title>
  </head>
  <body>