<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse content" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if active_nav == 'requests' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/requests">Заявки</a>
      </li>
      <li class="nav-item {% if active_nav == 'services' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/services">Блоки услуг</a>
      </li>
      <li class="nav-item {% if active_nav == 'service_items' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/service_items">Услуги</a>
      </li>
      <li class="nav-item {% if active_nav == 'subscription_services' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/subscription_services">Обслуживание</a>
      </li>
      <li class="nav-item {% if active_nav == 'docs' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/docs">Документы</a>
      </li>
      <li class="nav-item {% if active_nav == 'reviews' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/reviews">Отзывы</a>
      </li>
      <li class="nav-item {% if active_nav == 'persons' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/persons">Сотрудники</a>
      </li>
      <li class="nav-item {% if active_nav == 'blogs' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/blogs">Блоги</a>
      </li>
      <li class="nav-item {% if active_nav == 'advantages' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/advantages">Преимущества</a>
      </li>
      <li class="nav-item {% if active_nav == 'about_items' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/about_items">О компании</a>
      </li>
      <li class="nav-item {% if active_nav == 'json_blocks' %} active {% endif %}">
        <a class="nav-link" href="{{ site_url }}/admin/json_blocks">JSON блоки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site_url }}/admin/logout">Выход</a>
      </li>
    </ul>
  </div>
</nav>