<nav aria-label="Page navigation example" class="page_nav">
  <ul class="pagination">
{% if is_need_start %} 
    <li class="page-item"><a class="page-link" href="?page[number]=1&page[size]={{page_size}}">Начало</a></li>
{% endif %}

{% for item in page_nav %}
    <li class="page-item {% if item['isActive'] %} active {% endif %}>">
        <a class="page-link" href="?page[number]={{item['link']}}&page[size]={{page_size}}">{{item['name']}}</a></li>
{% endfor %}
{% if is_need_last %} 
    <li class="page-item"><a class="page-link" href="?page[number]={{total_pages}}&page[size]={{page_size}}">Конец</a></li>
{% endif %}
  </ul>
</nav>
