<script type="text/javascript" src="{{site_url}}/js/restintag.jquery.js"></script>

<script>
    $(".restintag_item").restintag({
        disable: false
    },
    function(data) {
            console.log(data);
            window.location.reload();
    },
    function(err_data) {
        if (err_data.status == '409')
        {
            alert(err_data.responseJSON);
            console.log(err_data);

        } else {
            alert("Неизвестная ошибка");
            console.log(err_data);
        }
    });
</script>