{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'docs'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/docs/{{doc.id}}" enctype="multipart/form-data">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="docName">Название документа <span class="red">*</span></label>
    <input type="text" class="form-control" id="docName" name="name" placeholder="Название документа..." required value="{{doc.name}}">
  </div>
  <div class="form-group">
    <label for="pdfFile">Файл в формате PDF или ZIP <span class="blue"> (<a href="{{ site_url }}/files/{{files_dir}}/original/{{doc.url}}" class="blue">Текущий документ</a>)</span></label>
    <input type="file" class="form-control-file" name="file" id="pdfFile" accept="application/zip, application/pdf">
  </div>
  <div class="form-group">
    <label for="description">Описание</label>
    <textarea class="form-control" id="description" rows="3" name="description">{{doc.description}}</textarea>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success" role="alert">
    Успешно обновлено!
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}