{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'docs'} )}}

<div class="content">
<a href="{{ site_url }}/admin/docs/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить документ</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 30%;">Название</th>
      <th scope="col" style="width: 30%;">Описание</th>
      <th scope="col" style="width: 5%;" class="td-icons" >Файл</th>
      <th scope="col" style="width: 20%;">Дата</th>
      <th scope="col" style="width: 10%;" class="td-icons" class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for doc in docs %}
    <tr>
      <th scope="row">{{doc.id}}</th>
      <td>{{doc.name}}</td>
      <td>{{doc.description}}</td>
      <td class="td-icons" ><a href="{{ site_url }}/files/{{files_dir}}/original/{{doc.url}}" target="_blank" >&#128193;</a></td>
      <td>{{ doc.createdAt|date('d.m.Y H:i:s') }}</td>
      <td class="td-icons" >
        <a href="{{ site_url }}/admin/docs/{{doc.id}}">&#10002;</a>
        <a href="{{ site_url }}/admin/docs/{{doc.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/docs/{{doc.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}