{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: "Блог", "link": "blogs"} ]}) }}
{{ include('user/common/title.html.twig', {title: json_blocks.titles.blogs.title, subtitle: json_blocks.titles.blogs.sub_title})}}

<div>
        <div class="blogs " >
        <a name="blogs"></a>
        {% for blog in blogs %}
                <div class="blog_item">
                        <a href="{{ site_url }}/blogs/{{blog.id}}/{{blog.canonicalUrl}}"><h2>{{blog.title}}</h2></a>
                        <p class="blog_datatime">{{ blog.createdAt|date('d.m.Y')}}</p>
                        <p class="blog_description">{{blog.description}}</p>
                        <a href="{{ site_url }}/blogs/{{blog.id}}/{{blog.canonicalUrl}}" class="blog_read_link">Подробнее →</a>
                </div>
        {% endfor %}
        </div>
        {% if total_pages > 1 %}
        {{ include('user/common/page_nav.html.twig', {name:"blogs"}) }}
        {% endif %}
</div>




        <div class="warp_1_5p"></div>
{{ include('user/common/persons.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}