{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: "Блог", "link": "blogs"} ]}) }}

<div class="content_wrapper blog ">
        <h1 class="title">{{  blog.title }}</h1>
        <div class="title_underline"></div>
        <p class="subtitle">{{ blog.createdAt|date('H:i d.m.Y') }}</p>
        <article>
        {{  blog.text|raw}}<script src="https://yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-curtain data-size="l" data-shape="round" data-color-scheme="whiteblack" data-limit="3" data-services="vkontakte,odnoklassniki,telegram,whatsapp"></div>
        </article>
        
        
</div>
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/persons.html.twig') }}
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/footer.html.twig') }}