{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'json_blocks'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/json_blocks/{{json_block.id}}" enctype="multipart/form-data">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="json_block-key">Ключь (нижний регистр, без пробелов, eng) <span class="red">*</span></label>
    <input type="text" class="form-control" id="json_block-key" name="key" placeholder="Ключь блока..." readonly required value="{{json_block.key}}">
  </div>
  <div class="form-group">
    <label for="description">Пояснение <span class="red">*</span></label>
    <textarea class="form-control" id="description" rows="3" name="description" required>{{json_block.description}}</textarea>
  </div>

  <div class="form-group">
    <label for="person-data">JSON data <span class="red">*</span></label>
    <textarea class="form-control" id="person-data" rows="25" name="data" required>{{json_block.data}}</textarea>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success" role="alert">
    Успешно обновлено!
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}