{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'json_blocks'} )}}

<div class="content">
<a href="{{ site_url }}/admin/json_blocks/repair" data-method="POST" data-target="{{ site_url }}/admin/json_blocks/repair" class="restintag_item"><button type="button" class="btn btn-outline-success add_float_buuton">&#128736; Восстановить JSON блоки</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 45%;">Ключь</th>
      <th scope="col" style="width: 40%;">Пояснение</th>
      <th scope="col" style="width: 10%;" class="td-icons"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for json_block in json_blocks %}
    <tr>
      <th scope="row">{{json_block.id}}</th>
      <td>{{json_block.key}}</td>
      <td>{{json_block.description}}</td>
      <td class="td-icons" >
        <a href="{{ site_url }}/admin/json_blocks/{{json_block.id}}">&#10002;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}