 <style>
    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }
    .cropper-view-box {
        outline: 0;
        box-shadow: 0 0 0 1px #39f;
    }
  </style>
<script>
var img = new Image();
    window.addEventListener('DOMContentLoaded', function () {
      var image = document.querySelector('#image');
      var data = document.querySelector('#data');
      var result = document.getElementById('result');
      var minPx = 100;
      var maxPx = 1500;

      function createCopper(image, data2, result, minPx, maxPx)
      {
         return new Cropper(image, {
            aspectRatio: 1,
            viewMode: 1,
            zoomable: false,

            data: {
              width: 200,
              height: 200,
            },

            crop: function (event) {
              var width = Math.round(event.detail.width);
              var height = Math.round(event.detail.height);

              if (
                width < minPx
                || height < minPx
                || width > maxPx
                || height > maxPx
              ) {
                cropper.setData({
                  width: Math.max(minPx, Math.min(maxPx, width)),
                  height: Math.max(minPx, Math.min(maxPx, height)),
                });
              }
              document.getElementById('file-start-x').value = cropper.getData(true).x;
              document.getElementById('file-start-y').value = cropper.getData(true).y;
              document.getElementById('file-width').value = cropper.getData(true).width;
              document.getElementById('file-height').value = cropper.getData(true).height;
            },
          });

      }
  
      personsFile.onchange = evt => {
      const [file] = personsFile.files

      if (file) {
        img_preview.hidden = false
        image.src = URL.createObjectURL(file)
        
        
        image = document.querySelector('#image');
        if ( typeof cropper !== 'undefined')
        {
          cropper.destroy();
        }

        cropper = createCopper(image, data, result, minPx, maxPx);
       
      }
    }

      

    });
    
  </script>