.content
{
    max-width: 1340px;
    margin: 0 auto;
}
#navbarNav
{
    font-size: 20px ;
}
.list_header
{
    margin:  20px 0 40px;
}
.table_icon
{
    margin: 0 10px !important;
}
.page_nav
{
    text-align: center;
    margin: 40px auto;
    display: table;
}
.add_float_buuton
{
    float: right;
    margin: 20px;
}
.red
{
    color: red;
}
.blue
{
    color: blue;
}
#img_preview
{
    margin-top: 20px;
}
.login_form
{
    width: 600px;
    margin: 300px auto;
}
.td-icons
{
    text-align: center;
}
.td-icons a
{
    font-size: 20px;
    text-decoration: none;
    margin-left: 4px;
    padding-bottom: 3px;
}
.td-icons a:hover
{
    border-bottom: 1px dashed green;
}
h2{
    margin: 30px 0 10px;
    padding-top: 15px;
}
.line_button_100
{
    width: 100%;
}
.line_button_50
{
    width: 47%;
}
.sublist_actions .line_button_50:first-child
{
    margin-right: 10px;

}
#sublist_block{
    padding-bottom: 200px;
}
.add_sublist_block
{
    border-bottom: 1px dashed grey;
    margin-bottom: 20px;

}