
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.content_wrapper
{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

header
{
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
    position: relative;
}

@media screen and (max-width:900px) {
header{
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.7);
}

}
header .contact_block
{
    margin: 36px 0 28px;
}
header .contact_block a
{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
}
header .contact_block a:hover
{
    text-decoration: underline;
}
header ul
{
    margin: 0px;
    padding: 0px;
}
header .contact_block li
{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px 32px 0 0;
}
header .contact_block li img
{
    margin-right: 8px;
    float: left;
    margin-top: 1px;
    height: 18px;
}
.inline
{
    display: inline-block;
    vertical-align: top;
}
.request_block
{
    float: right;
    text-align: right;
    margin-top: 30px;
}

@media screen and (max-width:1080px) {
    .contact_block ul li:nth-child(4n+4)
    {
        display: none;
    }
}

.request_block li
{
    display: inline-block;
    vertical-align: top;

}

.request_block img
{
    height: 28px;
    margin-right: 5px;

}

.request_block button
{
    border: none;
    color: white;
    background-color: #831010;
    font-family: 'Inter';
    font-style: normal;
    font-size: 13px;
    font-weight: 300;
    padding: 4px 32px 6px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 16px;
    border: 1px solid #6d1111;
}
.request_block button:hover
{
    background-color: #6d1111;
}


@media screen and (min-width:900px) {
    #menuToggle
    {
        display: none !important;
    }

}
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 35px;
    left: 10px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -11px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 10px 5px 10px;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 34px;
    height: 3px;
    margin-bottom: 8px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #fff;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(2px, 0px);
  }
  
  #menu
  {
    position: fixed;
    width: calc(100% + 50px);
    height: 3400px;
    box-shadow: 0 0 10px black;
    margin: -50px 0 0 -50px;
    padding: 32px 0px;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 8.5px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ #menu
  {
    transform: none;
  }
  #menuToggle input:checked ~#menuToggle
  {
    position: fixed;
  }

  #menu a {
    text-decoration: none;
    color: white;
    transition: 200ms;
  }
  #menu  a:hover {
    color: #991010;
  }
  #menu  ul {
    padding: 18px 0 0 35px;
    list-style-type: square;
    font-family: 'Roboto';
    font-size: 23px;
    width: 200px;
    box-sizing: border-box;
    color: grey;
    margin: 20px auto;
    border-top: 1px solid grey;
  }




.main_page_menu
{
    position: relative;
    height: 570px;
}
.main_page_menu video
{
    position: absolute;
    top: 0;
    right: -43px;
    width: 800px;
    height: 570px;
}
.menu_common_type, .menu_common_type .main_page_menu 
{
    height: 313px !important;
}
.breadcrumbs
{
    position: absolute;
    top: 181px;
    width: 100% !important;
    text-align: center;
    z-index: 1;
    left: 0;
}
.breadcrumbs a 
{
    display: inline-block;
    width: max-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}
.breadcrumbs a+a:before
{

  padding: 8px;
  color: white;
  content: "/\00a0";
  font-weight: 300;
}
.breadcrumbs a:hover
{
    font-weight: 400;
}
@media screen and (max-width:650px) {
.main_page_menu video
{
    width: 650px;
    height: auto;
}
.menu_common_wrapper
{
    height: 463px !important;
}
}

.menu_common_wrapper
{
    background-color: #242224;
    height: 570px;
    background-image: url(../images/output.jpg), url(../images/output2.jpg);
    background-position: 50% 0%, center;
    background-repeat: no-repeat, repeat-x;
    position: relative;
}


@media screen and (max-width:1300px) {

    .main_page_menu video
    {    
        right: 0;
    }
    .menu_common_wrapper
    {
        background-position: right -108px bottom 0, center;
    }
    .content_wrapper
    {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

}

@media screen and (min-width:1300px) {

    .menu_common_wrapper
    {
        background-position: 50% 0%, center;
    }

}


@media screen and (max-width:1300px) {
    .menu_common_type
    {
        background-image: url(../images/output.jpg);
        background-position: top 0 right -108px;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:900px) {
    .menu_common_type, .menu_common_type .main_page_menu 
    {
        height: 150px  !important;
    }
    .menu_common_type
    {
        background-position: top 0 right -100px;
        background-size: auto 360px;
    }
    .breadcrumbs
    {
        top: 65px;
    }
}

@media screen and (max-width:600px) {
    .menu_common_type, .menu_common_type .main_page_menu 
    {
        height: 130px  !important;
    }
    .menu_common_type
    {
        background-size: auto 260px;
        background-position: top 0 right -50px;
    }
    .breadcrumbs
    {
        top: 55px;
    }
}

.menu_background
{
    position: absolute;
    height: 89px;
    width: 100%;
    background: rgba(0,0,0,.4);
    z-index: 3;
}
@media screen and (min-width:1201px) and (max-width:1300px) {
    .menu_background .content_wrapper
    {
    padding-left: 40px;
    box-sizing: border-box;
    }
}
@media screen and (max-width:1200px) {
    .menu_background .content_wrapper
    {
        width: 850px;

    }

}

@media screen and (max-width:900px) {
    .menu_background, .contact_block, .request_block
    {
        display: none;
    }

}
.logo_header
{
    margin: 0px auto 0px auto;
    display: block;
    padding-bottom: 10px;
    position: relative;
    width: 174px;
    padding-top: 10px;
}

@media screen and (min-width:900px) {
    .logo_header
    {
        display: none;
    }
}

@media screen and (max-width:340px) {
    .logo_header
    {
        margin: 0 0 0 70px;
    }
    #menu .logo_header
    {
        margin: 0px auto 0px auto;
    }
}

#logo
{
    margin-top: 10px;
    height: 70px;
}
menu
{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 34px;
}
@media screen and (min-width:1201px)  and (max-width:1300px) {
    menu
    {
        right: 40px;
    }
}
@media screen and (max-width:1200px) {
    menu{
        margin-right: 20px;
    }
}
menu .menu_link_item
{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 2px;
}
menu .menu_link_item:hover
{
    border-bottom: 1px solid white;
}
.menu_dropable
{
    position: relative;
    z-index: 2;
}
.menu_dropable:hover
{
    padding-bottom: 20px;
    border-bottom:none !important;

}
.dropdown_content
{
    position: absolute;
    top:30px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 0 7px;
    display: none;
}
.dropdown_content a
{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}
.dropdown_content a:hover
{
    background-color: #000;
    text-decoration: underline;
}
.menu_dropable:hover .dropdown_content {display: block;}
.main_page_menu_info
{
    position: absolute;
    top: 153px;
    left: 50px;
    color: white;
    width: 372px;
    font-family: Roboto;
    z-index: 1;
}
@media screen and (max-width:1200px) {
    .main_page_menu_info
    {
        left: calc(50% - 320px);
        width: 700px;
        padding-right: 328px;
        box-sizing: border-box;
    }

}
@media screen and (max-width:900px) {
    .main_page_menu_info
    {
        top: 40px;
        width: 400px;
        box-sizing: border-box;
        left: 10%;
        margin: 0 auto;
        padding: 20px 20px 40px;
        background-color: rgba(0, 0, 0, 0.4);
    }

}
@media screen and (min-width:650px) and (max-width:900px) {


    .main_page_menu_info
    {
        top: 60px;
    }
}

@media screen and (max-width:500px) {
    .main_page_menu_info
    {
        width: 86%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

}
.main_page_menu_info h1
{
    margin: 0 0 21px;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.5px;
    text-transform: uppercase;
}
.main_page_menu_info p
{
    margin: 0 0 27px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-transform: uppercase;
}
@media screen and (max-width:900px) {
    .main_page_menu_info h1
    {
        margin: 0 0 15px;
        font-size: 29px;
        line-height: 36px;
    }
    .main_page_menu_info p
    {
        font-size: 15.5px;
        font-weight: 400;
        line-height: 24px;
    }

}
@media screen and (max-width:500px) {

    .main_page_menu_info h1
    {
        margin: 0 0 10px;
        font-size: 24px;
        line-height: 28px;
    }
    .main_page_menu_info p
    {
        margin: 0 0 17px;
        font-size: 16px;
        line-height: 23.5px;
    }
}
@media screen and (max-width:380px) {

    .main_page_menu_info h1
    {
        font-size: 22px;
        line-height: 26px;
    }
    .main_page_menu_info p
    {
        font-size: 14px;
        line-height: 20.5px;
    }
}
.request_call
{
    background-color: #831010;
    border-radius: 10px;
    color: white;
    padding: 8px 12px 13px 24px;
    text-decoration: none;
    font-style: normal;
    font-size: 21px;
    font-weight: 400;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
}
.request_call .inline
{
    display: inline-block;
    vertical-align: middle;
}
.request_call:hover
{
    background-color: #6d1111;
}
.request_call img
{
    padding: 2px 5px 0 15px;
}

@media screen and (max-width:500px) {
    .request_call
    {
        border-radius: 8px;
        padding: 6px 7px 9px 16px;
        font-size: 18.5px;
        font-weight: 400;
    }
    .request_call img
    {
        padding: 2px 5px 0 15px;
        height: 14.5px;
    }
    
}

.shadow
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1490px;
    height: 570px;
    box-shadow: 35px -50px 13px 25px rgba(20,20,20,.4), inset 0px 22px 23px 2px rgba(20,20,20,.6);
}
.menu_common_type .shadow
{
    height: 313px;

}

@media screen and (max-width:1490px) {

    .shadow
    {
        display: none;
    }
}


.fig_1
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(50% - 520px);
    height: 134.5px;
    background: linear-gradient(to right top, white, white 50%, transparent 50.5%, transparent 100%);

}
.fig_2
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(50% + 520px);
    background: linear-gradient(to left top, white, white 50%, transparent 50.5%, transparent 100%);
    height: 134.5px;
}

@media screen and (max-width:1300px) {
    .fig_1
    {
        display: none;
    }
    .fig_2
    {
        width: 100%;
        z-index: 1;
    }
}
@media screen and (max-width:650px) {
    .fig_2
    {
        height: 100.5px;
    }
}


.hystmodal__window
{
    width: 440px !important;
    box-sizing: border-box;
}

@media screen and (max-width:500px) {
    .hystmodal__window
    {
        width: 90% !important;
    }
}

.modal_request_form
{
    padding: 20px 30px;
}
.modal_request_form h2
{    
    margin: 0px 0 24px;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}
.modal_request_form input
{
    display: block;
    height: 58px;
    box-sizing: border-box;
    margin-bottom: 24px;
    width: 100%;
    font-family: 'Inter';
    font-size: 17px;
    padding-left: 14px;
}
.modal_request_form button
{    
    display: block;
    background-color: #831010;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.modal_request_form button:hover
{
    background-color: #6d1111;
}


.advantages .image
{
    position: relative;
    height: 300px;
    width: 300px;
    margin-bottom: 70px;

}
.advantages .image img
{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    left: 0;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
}
.advantages .sub_image
{
    transform: rotate(7.83deg);
    opacity: 0.7;
}

.advantages h3
{
    font-family: Roboto;
    margin: 0px 0 8px;
    font-style: normal;
}

.advantages p
{
    font-family: Roboto;
    margin: 0 0 30px;
    font-style: normal;
}

.advantages li
{
    list-style-type: none;
    position: relative;
}


@media screen and (min-width:1200px) {
.advantages h3
{
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
}

.advantages p
{
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
}

.advantages li
{
    height: 500px;
}

.advantages li:nth-child(3n+1) .advantage
{
    position: absolute;
    right: 0px;
    top:30px;
    width: 395px;
    z-index: 1;
}

.advantages li:nth-child(3n+2) 
{
    margin-top: -330px;
}
.advantages li:nth-child(3n+2) .text
{
    width: 327px;
    position: absolute;
    top: 40px;
    left: 361px;
}
.advantages li:nth-child(3n+3) 
{
    margin-top: -70px;
    height: 400px;
}

.advantages li:nth-child(3n+3) .advantage
{
    position: absolute;
    left: 332px;
    top:30px;
    /* width: 395px; */
    z-index: 1;
}

.advantages li:nth-child(3n+3) .text
{
    width: 408px;
    position: absolute;
    top: 40px;
    left: 359px;
}
}
@media screen and (max-width:1200px) {
    .advantages ul
    {
        padding-left: 0;
    }
.advantages h3, .advantages p
{
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
}
.advantages p
{
    font-weight: 300;
}
.advantages .text
{
    position: absolute;
    left: 360px;
    top: 0;
}
.advantages 
{
    width: 700px;
    margin: 50px auto;
    position: relative;
}
.advantages li:nth-child(3n+2)
{
    position: relative;
    height: 370px;
}
.advantages li:nth-child(3n+2) .text
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 340px);
}

.advantages li:nth-child(3n+2) .image
{
    position: absolute;
    top: 0;
    right: 0;
}

.advantages .image img
{
    height: 240px;
    width: 240px;
}

}

@media screen and (max-width:830px) {
    .advantages 
    {
        width: 500px;
    }
    .advantages .image, .advantages .image img
    {
        height: 200px;
        width: 200px;
    }
    .advantages .text
    {
        left: 240px;
    }
    .advantages li:nth-child(3n+2)
    {
        height: 240px;
    }
    .advantages li:nth-child(3n+2) .text
    {
        width: calc(100% - 240px);
    }
    .advantages h3, .advantages p
    {
        font-size: 22px;
        line-height: 24px;
    }
}


@media screen and (max-width:600px) {
    .advantages 
    {
        width: 100%;
        max-width: 450px;
    }
    .advantages .image, .advantages .image img
    {
        height: 160px;
        width: 160px;
    }
    .advantages .text
    {
        left: 200px;
    }
    .advantages li:nth-child(3n+2)
    {
        height: 230px;
    }
    .advantages li:nth-child(3n+2) .text
    {
        width: calc(100% - 220px);
    }

    .advantages h3, .advantages p
    {
        font-size: 19px;
        line-height: 22px;
    }

}

@media screen and (max-width:450px) {
    .advantages 
    {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 25px;
        margin-bottom: -20px !important;
    }
    .advantages .image 
    {
        width: 35%;

    }
    .advantages .image img
    {
        width: 100%;
        height: auto;
    }
    .advantages .text
    {    
        left: calc(35% + 40px);
        width: calc(65% - 40px);
    }
    .advantages li
    {
        height: 190px !important;
    }
    .advantages li:nth-child(3n+2) .text
    {
        right: calc(35% + 20px);
        width: calc(65% - 20px);
    }

    .advantages h3, .advantages p
    {
        font-size: 18px;
        line-height: 22px;
    }

}

@media screen and (max-width:360px) {
    .advantages 
    {
        padding-left: 15px;
        padding-right: 20px;
    }
    .advantages li
    {
        height: 170px !important;
    }
    .advantages .text
    {    
        left: calc(35% + 30px);
        width: calc(65% - 30px);
    }

    .advantages h3, .advantages p
    {
        font-size: 15px;
        line-height: 17px;
    }

}

.block_title_wrapper
{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 50px;
}
@media screen and (max-width:480px) {
    .block_title_wrapper
    {
        margin-top: 30px;
    }
}
.block_title_line
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 30px;
    
    border: 1px solid #000000;

}
.block_title
{
    z-index: 1;
    background-color: white;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: max-content;
}
.block_title a
{
    display: block;
    background-color: #831010;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-decoration: none;
    padding: 7px 35px;

    text-align: center;

    color: #FFFFFF;

}
.block_title a:hover
{
    background-color: #6d1111;
}
.invert_block_title a
{
    font-family: 'Roboto';
    font-style: normal;
    color: #831010;
    background-color: white;
    padding: 3px 1px;

}
.invert_block_title a:hover
{
    background-color: white;
}
.block_title_left
{
    margin-left: 40px;
}
.block_title_right
{
    margin-right: 40px;
}

@media screen and (max-width:900px) {
    .block_title
    {
        padding-top: 7px;
    }
    .block_title a
    {
        font-weight: 300;
        font-size: 34px;
        padding: 6px 28px;
    }
    .block_title_left
    {
        margin-left: 20px;
    }
    .block_title_right
    {
        margin-right: 20px;
    }
}

@media screen and (max-width:600px) {
    .block_title
    {
        padding: 7px 25px 0;
        max-width: 90%;
    }
    .block_title a
    {
        font-weight: 300;
        font-size: 30px;
        padding: 5px 15px;
    }
    .block_title_left
    {
        padding: 7px 10px;
    }
    .content_wrapper:has(> .block_title_left) 
    {
        padding: 0;
    }
    .block_title_right
    {
        margin-right: 0px;
    }
}
@media screen and (max-width:500px) {
    
    .block_title
    {
        width: min-content;
        min-width: 85%;
        max-width: 95%;
        padding: 11px 10px;
    }
    .block_title_wrapper .two_raw
    {
        min-width: 70%;
        padding: 0px 10px;

    }
    .block_title_left, .block_title_right
    {
        margin: 0 auto;
    }
    .block_title a
    {
        font-size: 24px;

    }
}
.warp_1_5p
{
    height: 150px;
}


.warp_2p
{
    height: 200px;
}
@media screen and (max-width:1200px) {
    .warp_2p
    {
        height: 100px;
    }
    .warp_1_5p
    {
        height: 80px;
    }
}
@media screen and (max-width:900px) {
    .warp_2p
    {
        height: 50px;
    }
    .warp_1_5p
    {
        height: 30px;
    }
}
@media screen and (max-width:600px) {
    .warp_2p
    {
        height: 20px;
    }
    .warp_1_5p
    {
        height: 15px;
    }
}

.persons
{
    margin-top: 71px;
}

.persons td
{
    text-align: center;
    vertical-align: top;
}

.person
{
    width: 320px;
    text-align: center;
    margin: 0 auto;
}
.person img
{
    border-radius: 50%;
    width: 320px;
    margin-bottom: 11px;
}
.person a
{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 23.4px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.person a:hover
{
    text-decoration: underline;
}
.person .qualification
{
    margin-top: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #831010;
    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1050px) {
    .person
    {
        width: 200px;

    }
    .person img
    {
        width: 190px;

    }

    .person a
    {
        font-size: 21px;
        line-height: 23px;
        font-weight: 300;
    }
    .person .qualification
    {
        font-size: 13px;
        font-weight: 300;

    }
}

@media screen and (max-width:700px) {
    .person
    {
        width: 130px;

    }
    .person img
    {
        width: 120px;

    }

    .person a
    {
        font-size: 18px;
        line-height: 20px;
        font-weight: 300;
    }
    .person .qualification
    {
        font-size: 12px;
        font-weight: 300;

    }
}

@media screen and (max-width:500px) {
    .persons 
    {
        margin-top: 10px;
    }
    .persons td
    {
        width: 96px;
    }
    .person
    {
        width: 100%;
        margin: 0;

    }
    .person img
    {
        width: 90px;
    }

    .person a
    {
        font-size: 13.5px;
        line-height: 17px;
    }
    .person .qualification
    {
        font-size: 11px;
    }
}



.watch_all
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #831010;
    padding: 9px 32px;
    border: 1px solid #831010;
    border-radius: 36px;
    margin-top: 35px;
    display: block;
    width: max-content;
    margin: 0 auto;
}
.watch_all:hover
{
    color: white;
    background-color: #831010;
}
.persons .watch_all
{
    float: none;
    margin: 30px auto;
    font-size: 16px;
}

@media screen and (max-width:900px) {
    .watch_all
    {
        font-size: 15px;
        line-height: 20px;
        padding: 9px 28px;
    }
}

@media screen and (max-width:600px) {
    .watch_all
    {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 24px;
    }
}





.why_us_block
{
    background-color: #000000;
    color: white;
    margin-top: 140px;
    padding-top: 99px;
    padding-bottom: 113px;
}
.why_us_block h2
{
    position: relative;
    text-transform: uppercase;
    border-left: 24px solid #6d1111;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    padding: 0 10px;
    margin: 0 0 83px;
}
.why_us_block .args .arg
{
    display: table-cell;
    /* width: 32%; */
    box-sizing: border-box;
    padding-right: 36px;
    padding-left: 13px;
    vertical-align: top;
    border-left: 2px solid #831010;
}

.why_us_block .args .arg h3
{
    margin: 0 0 7px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.why_us_block .args .arg p
{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.why_us_block fieldset
{
    margin: 120px 0 0;
    padding: 25px 66px 22px;
    border: 2px solid #831010;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

.why_us_block fieldset legend
{
    padding: 0 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

@media screen and (max-width:1200px) {
    .why_us_block
    {
        padding: 50px 20px 60px;
        margin-top: 80px;
    }
    .why_us_block h2
    {
        font-weight: 400;
        font-size: 28px;
        line-height: 22px;
        padding: 0 10px;
        margin: 0 0 43px;
        border-left: 22px solid #6d1111;
    }
    .why_us_block .args .arg
    {
        padding-right: 22px;
        padding-left: 18px;

    }
    .why_us_block .args .arg h3
    {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    .why_us_block .args .arg p
    {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
    }

    .why_us_block fieldset
    {
        margin: 60px 0 0;
        padding: 16px 44px 13px;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
    }

    .why_us_block fieldset legend
    {
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
    }

}

@media screen and (max-width:750px) {

    .why_us_block .args .arg
    {
        display: block;
        margin-bottom: 40px;
    }

    .why_us_block fieldset
    {
        padding: 8px 24px 10px;
    }
}

@media screen and (max-width:600px) {
    .why_us_block h2
    {
        font-weight: 400;
        font-size: 24px;
        line-height: 20px;
    }
    .why_us_block .args .arg h3
    {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
    .why_us_block .args .arg p
    {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    .why_us_block fieldset legend
    {
        font-size: 24px;
        line-height: 28px;
        padding: 0 20px;
    }

    .why_us_block fieldset
    {
        padding: 4px 18px 10px;
        font-weight: 300;
        font-size: 21px;
        line-height: 26px;
    }

}

@media screen and (max-width:450px) {
    .why_us_block fieldset 
    {
        display: none;
    }
    .why_us_block {
        padding-bottom: 30px;
    }

}


.block_dark_top_shadow
{
    height: 75px;
    width: 100%;
    background: linear-gradient(180deg, #CFCFCF 0%, rgba(255, 255, 255, 0) 100%);
}
.block_dark_bottom_shadow
{
    height: 75px;
    width: 100%;
    transform: rotate(180deg);
    background: linear-gradient(180deg, #CFCFCF 0%, rgba(255, 255, 255, 0) 100%);
}
.subtitle_border_bottom
{
    width: 120px;
    border: 3px solid #831010;
    margin: 0px auto;
}


.review_block h2
{
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;
    margin: 3px 0 0;
    
    text-align: center;
    
    color: #000000;
}
.review_block .swiper-wrapper
{
    margin: 10px auto;
}
.review_block .swiper-slide
{
    padding: 0 100px;
    margin: 10px auto;
    box-sizing: border-box;
}
.review_block .watch_all{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin: 33px auto;
}
 .swiper-button-prev,  .swiper-button-next
{
    color: #6d1111 !important;
    border: 2px #6d1111 solid;
    font-size: 30px;
    width: 58px !important;
    height: 58px !important;
    line-height: 58px;
    border-radius: 50%;
    padding-bottom: 3px;
    z-index: 1 !important;
}
.swiper-button-prev
{
    padding-right: 3px;
}
.swiper-button-next
{
    padding-left: 3px;
}
 .swiper-button-prev:hover, .swiper-button-next:hover
{
    color: white !important;
    background-color: #6d1111 !important;
}

.swiper-button-prev::after,  .swiper-button-next::after {
    display: none;
}
.review_block .review_author{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin: 30px 0 0;
    color: #000000;
}
.review_block .review_company_name
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4px;
    line-height: 28px;
    margin: 3px 0 35px 0;
    color: #000000;
}
.review_block .review_text
{
    padding: 0 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.4);
    background-image: url(../images/icons/quotes_start.svg), url(../images/icons/quotes_end.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, bottom right;
    padding-bottom: 20px;
}


@media screen and (max-width:1200px) {
    .review_block h2
    {
        font-size: 36px;
    }
    .block_dark_top_shadow
    {
        height: 50px;
    }
    .block_dark_bottom_shadow
    {
        height: 50px;
    }

    swiper-button-prev, .swiper-button-next
    {
        font-size: 26px;
        width: 50px !important;
        height: 50px !important;
        line-height: 50px;
        padding-bottom: 2px;
    }

    .review_block .review_author{
        font-size: 28px;
        line-height: 35px;
        margin: 20px 0 0;
    }
    .review_block .review_company_name
    {
        font-size: 21px;
        line-height: 24px;
        margin: 3px 0 20px 0;
    }
    .review_block .review_text
    {
        padding: 0 60px;
        font-size: 20px;
        line-height: 24px;
        background-size: 40px auto, 40px auto;
    }  
}

@media screen and (max-width:800px) {
    .review_block h2
    {
        font-size: 33px;
    }
    .block_dark_top_shadow, .block_dark_bottom_shadow
    {
        height: 40px;
    }
    .review_block .swiper-slide
    {
        padding: 0 80px 0 90px;
    }
    .swiper-button-prev, .swiper-button-next
    {
        font-size: 24px;
        width: 46px !important;
        height: 46px !important;
        line-height: 46px;
    }

    .review_block .review_author{
        font-size: 24px;
        line-height: 30px;
        margin: 18px 0 0;
    }
    .review_block .review_company_name
    {
        font-size: 19px;
        line-height: 22px;
        margin: 3px 0 16px 0;
    }
    .review_block .review_text
    {
        font-size: 20px;
        line-height: 24px;
        padding: 20px 0px 20px;
        background-size: 40px auto, 40px auto;
    }  

    .review_block .watch_all{
        margin: 13px auto;
    }
}

@media screen and (max-width:500px) {
    .review_block h2
    {
        font-size: 28px;
    }
    .review_block .swiper-slide
    {
        padding: 0 10px;
    }
     .swiper-button-prev, .swiper-button-next
    {
        display: none !important;
    }

    .review_block .review_author{
        font-size: 22px;
        line-height: 26px;
        margin: 10px 0 0;
    }
    .review_block .review_company_name
    {
        font-size: 19px;
        line-height: 22px;
        margin: 3px 0 16px 0;
    }
    .review_block .review_text
    {
        font-size: 17px;
        line-height: 20px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        padding: 15px 0px;
        background-size: 30px auto, 30px auto;
    }  

    .review_block .watch_all{
        margin: 13px auto;
    }
}

.subscription_services_block
{
    padding-top: 64px;
}
.subscription_services_block .note
{
    width: 464px;
    margin: 72px auto 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

.subscription_services_item
{
    width: 286px;
    height: 342px;
    background: linear-gradient(180deg, #373737 0%, #141212 100%);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;
    position: relative;
    overflow: auto;
    overflow-x:hidden;
    overflow-y: hidden;
    user-select: none;
}
.subscription_services_item .name
{
    padding-top: 36px;
    padding-left: 19px;

}
.subscription_services_item .name .underline
{
    height: 6px;
    width: 91px;
    background-color: #6d1111;

}
.subscription_services_item .name a
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.subscription_services_item .description
{
    font-family: 'Roboto';
    background-color: #000000;
    padding: 18px 15px 29px 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: white;

    white-space:normal;
}
.subscription_services_item .price
{
    margin-top: -20px;
    margin-left: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
}

.subscription_services_item .button a
{
    color: white;
    position: absolute;
    display: block;
    bottom: 14px;
    right: 14px;
    height: 144px;
    width: 144px;
    background: conic-gradient(from 0.08deg at 55.3% 57.95%, #3030E4 -47.26deg, #3E1CE7 5.39deg, #260B52 259.79deg, #3030E4 312.74deg, #3E1CE7 365.39deg);
    line-height: 85px;
    padding-left: 35px;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    z-index: 1;
}
.subscription_services_item .button
{
    position: absolute;
    width: 172px;
    height: 172px;
    right: -81px;
    bottom: -81px;
    background: linear-gradient(46.59deg, #161345 25.61%, #2727C7 77.07%);
    border-radius: 50%;
    z-index: 0;
}
.subscription_services_group
{
    width:100%;
    margin-bottom: 10px;
}
.subscription_services_item:last-child
{
    margin-right: 0px;
}
.subscription_services_group .swiper-slide
{
    width: calc(25% - 30px);
    height: 333px; 
    box-sizing: border-box;
}

.subscription_services_item:nth-child(4n+2) .button
{
    background: linear-gradient(46.59deg, #002C01 25.61%, #007500 77.07%);
}
.subscription_services_item:nth-child(4n+2) .button a
{
    background: conic-gradient(from 0.08deg at 55.3% 57.95%, #00972D -3.2deg, #004427 273.75deg, #00972D 356.8deg, #004427 633.75deg);
}

.subscription_services_item:nth-child(4n+3) .button
{
    background: linear-gradient(46.59deg, #411000 25.61%, #C61700 77.07%);
}
.subscription_services_item:nth-child(4n+3) .button a
{
    background: conic-gradient(from 0.08deg at 55.3% 57.95%, #FF004A -3.2deg, #701528 273.75deg, #FF004A 356.8deg, #701528 633.75deg);
}

.subscription_services_item:nth-child(4n+4) .button
{
    background: linear-gradient(46.59deg, #483300 25.61%, #AD4F00 77.07%);
}
.subscription_services_item:nth-child(4n+4) .button a
{
    background: conic-gradient(from 0.08deg at 55.3% 57.95%, #FF7E00 -3.2deg, #A07222 273.75deg, #FF7E00 356.8deg, #A07222 633.75deg);
}

@media screen and (max-width:1200px) {

    .subscription_services_group_wrapper
    {
        max-width: 902px;
        margin: 0 auto;
    }
    .subscription_services_group .swiper-slide
    {
        width: calc(25% - 30px);
        height: 260px; 
    }

    .subscription_services_item .name
    {
        padding-top: 24px;
        padding-left: 14px;

    }
    .subscription_services_item .name .underline
    {
        height: 4px;
        width: 71px;

    }
    .subscription_services_item .name a
    {
        font-size: 22px;
    }

    .subscription_services_item .description
    {
        padding: 14px 12px 30px 14px;
        font-size: 18px;
    }

    .subscription_services_item .price
    {
        margin-top: -15px;
        margin-left: 14px;
        font-size: 22px;
    }

    .subscription_services_item .button a
    {
        bottom: 10px;
        right: 10px;
        height: 120px;
        width: 120px;
        line-height: 85px;
        padding-left: 30px;
        font-size: 30px;
    }
    .subscription_services_item .button
    {
        width: 140px;
        height: 140px;
        right: -65px;
        bottom: -65px;
    }

}

@media screen and (max-width:900px) {

    .subscription_services_group_wrapper
    {
        max-width: 672px;
    }
    .subscription_services_group .swiper-slide
    {
        width: calc(33.333% - 30px);
        height: 260px; 
    }

}

@media screen and (max-width:673px) {

    .subscription_services_group_wrapper
    {
        max-width: 400px;
    }
    .subscription_services_group .swiper-slide
    {
        width: calc(50% - 20px);
        height: 260px; 
    }

}

@media screen and (max-width:400px) {

    .subscription_services_group_wrapper
    {
        width: calc(100% - 40px);
        max-width:  240px ;
    }
    .subscription_services_group .swiper-slide
    {
        width: calc(100% - 30px);
        max-width: 240px;
        height: 260px; 
        box-shadow: none;
    }

}


@media screen and (max-width:1240px) {

    .content_wrapper:has(> .subscription_services_group_wrapper) 
    {
        padding-right: 0;
        padding-left: 0;
    }

}
@media screen and (max-width:600px) {
.subscription_services_block .note
{
    width: auto;
    font-size: 18px;
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 30px;
}
}

.services_block
{
    margin-top: 56px;
    background-color: #3C3C3C;
    background-image: url(../images/output4.png);
    background-position: 0 102px;
    background-repeat: repeat-x ;
}
.services_group
{
    width: 910px;
    margin: 0 auto;
}
.services_group .item
{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    white-space:nowrap;

}

.services_group .item h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    margin-top: 17px;
    margin-bottom: 3px;
}
.services_group .item h3 a
{
    color: white;
    text-decoration: none;
}
.services_group .item ul a:hover
{
    color: red;
}
.services_group .item ul
{
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: 90px;
}
.services_group .underline
{
    background: #831010;
    height: 11px;
    width: 153px;
    margin-bottom: 63px;
}
.services_group .left ul
{
    padding-right: 62px;
}
.services_group .right ul, .services_group .right h3, .services_group .right .underline
{
    margin-left: 62px;
}
.services_group .left ul 
{
    border-right: 1px solid #ccc;
}
.services_group .item li
{
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 23px;
}
.services_group .item li:hover
{
    border-bottom-color: red;

}
.services_group .item li a
{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:940px) {
    .services_block
    {
        margin-top: 46px;
        background-position: 0 86px;
    }
    .services_group
    {
        width: 700px;
    }
    .services_group .item h3
    {
        font-size: 24px;
    }
    .services_group .underline
    {
        height: 8px;
        width: 123px;
        margin-bottom: 43px;
    }

    .services_group .item li
    {
        font-size: 20px;

    }
    .services_group .left ul
    {
        padding-right: 32px;
    }
    .services_group .right ul, .services_group .right h3, .services_group .right .underline
    {
        margin-left: 32px;
    }
}

@media screen and (max-width:740px) {
    .services_group
    {
        margin: 0;
        width: 100%;
    }
    .services_block
    {
        margin-top: 56px;
        background-image: none;
        padding: 10px 0 0 0;
    }
    .services_group .item
    {
        display: block;
        width: 100%;
    }

    .services_group .item ul
    {
        padding-left: 0;
        margin-top: 32px;
        margin-bottom: 90px;
        background-image: url(../images/output4.png);
        background-repeat: repeat-x ;
        border: none;
    }

    .services_group .left ul,  .services_group .right ul
    {
        margin: 0;
        padding: 40px;
    }

    .services_group .right h3, .services_group .right .underline, .services_group .left h3, .services_group .left .underline
    {
        margin-left: 40px;
    }

    .services_group .item h3
    {
        font-size: 28px;
    }
    .services_group .underline
    {
        height: 11px;
        width: 123px;
        margin-bottom: 23px;
    }

    .services_group .item li
    {
        font-size: 22px;

    }

}

@media screen and (max-width:450px) {
    .services_block
    {
        margin-top: 20px;
    }
    .services_group ul
    {
        padding: 20px 30px !important;
        text-align: center;
    }
    .services_group ul li
    {
        margin-bottom: 15px !important;
        text-align: left;
        max-width: 320px !important;
        margin: 1px auto;
    }
    .services_group ul a
    {
        font-size: 18px !important;

    }

    .services_group .right h3, .services_group .right .underline, .services_group .left h3, .services_group .left .underline
    {
        margin-left: 20px;
        font-size: 21px;
        text-align: center;
    }
    .services_group h3
    {
        margin-top: 10px !important;
    }
    .services_group .underline
    {
        margin: 4px auto 10px !important;
        height: 5px;
    }
}




.request_form
{
    background: linear-gradient(180deg, #373737 0%, #141212 100%);
    padding-top: 44px;
    padding-bottom: 106px;
}
.request_form div
{
    width: 712px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}
.request_form button
{
    display: block;
    width: calc(100% + 10px);
    background-color: #831010;
    border-radius: 4px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-decoration: none;
    padding: 10px 0;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}
.request_form button:hover
{
    background-color: #6d1111;
}
.request_form h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 140%;
    text-align: center;
    margin: 0 0 51px 0;

    color: #CCCCCC;

}

.request_form input
{
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 10px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    border: none;
}



@media screen and (max-width:900px) {
    .request_form div
    {
        width: 100%;
    }
    .request_form input
    {
        width: 40%;

    }
    .request_form
    {
        padding-bottom: 50px;
    }
    .request_form button
    {
        width: calc(80% + 10px);
        margin: 40px auto;

    }
}

@media screen and (max-width:600px) {
    .request_form input
    {
        width: 80%;
        max-width: 300px;
        display: block;
        margin: 20px auto;
        padding: 15px 20px;
        font-size: 16px;
        border-radius: 4px;

    }

    .request_form
    {
        margin: 50px 0;
    }
    .request_form button
    {
        width: 80%;
        max-width: 300px;
        margin: 10px auto 10px auto;
        font-size: 27px;
        padding: 10px 20px;
        box-sizing: border-box;

    }
    .request_form h2
    {
        font-size: 32px;
        margin: 0 0 30px 0;


    }

}
@media screen and (max-width:400px) {
    .request_form
    {
        padding: 26px 0 34px;
    }
    .request_form h2
    {
        font-size: 28px;
        margin: 0 0 20px 0;
    }
    .request_form input
    {
        margin: 15px auto;
        padding: 12px 20px;
        font-size: 14px;
    }
    .request_form button
    {
        font-size: 22px;
        line-height: 30px;
    }

}


















footer
{
    background: #212020;
    padding: 88px 0 148px;
    width: 100%;
    color: white;
}
.footer_content
{
    display: table;
}
footer .item
{
    display: table-cell;
    vertical-align: top;
    width: 25%;
}

@media screen and (max-width:900px) {
    footer
    {
        padding-top: 80px;
        padding-bottom: 0px;
        overflow-x: hidden;
    }
    .footer_logo
    {
        text-align: center;
        padding-top: 10px;
    }
    .footer_content
    {
        display: block;
        width: 600px;
        margin: auto auto;
    }
    footer .item
    {
        width: 250px;
        display: inline-block;
        padding-bottom: 80px;
    }

    footer .item:nth-child(2n+1)
    {
        width: 200px;
        box-sizing: border-box;
    }
}

footer .item h4
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 20px;
    width: max-content;
}

footer a
{
    text-decoration: none;
    color: white;
}
footer a:hover
{
    text-decoration: underline;
}
.footer_logo 
{
    width: 240px;
}
.footer_logo img 
{
    width: 130px;
}
.footer_about p
{
    width: 243px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    margin: 0;
}
.footer_menu
{
    padding-left: 50px;
}
.footer_content ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}
.footer_content ul li
{
    padding-bottom: 8px;
}
.footer_contacts
{
    position: relative;
}
.footer_contacts ul li
{
    width: 223px ;
}
.footer_telegram, .footer_whatsapp
{
    position: absolute;
    left: 140px;
}
.footer_telegram, .footer_whatsapp img
{
    width: 31px;
}
.footer_telegram
{
    top: 10px;
}

.footer_whatsapp
{
    top: 50px;
}

@media screen and (max-width:500px) {
    footer
    {
        padding-top: 30px;
    }
    .footer_logo img {
        
        width: 100px;
    }
    .footer_content
    {
        width: 100%;
    }
    footer .item
    {
        display: block;
        margin: auto auto;
        text-align: center;
        padding-bottom: 40px;
    }
    .footer_about p
    {
        width: 230px;
        margin: 0 auto;
        font-size: 15px;
    }
    footer .item h4
    {
        text-align: center;
        width: 100%;
    }
    .footer_menu
    {
        width: 0;
        display: none !important;

    }
    .footer_content ul li
    {
        width: 100%;
    }
    .footer_telegram
    {
        bottom: 30px;
        left: calc(50% - 20px);
        top: auto;
    }
    .footer_whatsapp
    {
        bottom: 30px;
        left: calc(50% + 20px);
        top: auto;
    }
    footer .footer_contacts
    {
        padding-bottom: 80px;

    }

}


.subtitle
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;

    text-align: center;

    color: #831010;
    margin-top: 82px;
    margin-bottom: 0;
}
.title
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;
    max-width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    color: #000000;
}

.title_underline
{
    height: 6px;
    width: 120px;
    border-radius: 3px;
    background-color: #831010;
    margin: 0 auto;
}

@media screen and (max-width:900px) {
    .subtitle
    {
        margin-top: 52px;
    }
    .title
    {
        font-size: 38px;
    }
}

@media screen and (max-width:600px) {
    .subtitle
    {
        margin-top: 32px;
    }
    .title
    {
        font-size: 28px;
    }
    .title_underline
    {
        height: 4px;
        width: 80px;
        border-radius: 2px;
    }
}

.other_services
{
    width: 1000px;
    margin-bottom: 80px;
    margin-top: 40px;
}
.other_services .swiper-slide
{
    width: 304px;
    height: 370.88px; /*1.22*/
    border-radius: 32px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.service_item:nth-child(2n+1)
{
    background: linear-gradient(180deg, #373737 0%, #151313 100%);
}
.service_item:nth-child(2n+1):hover
{
    background: linear-gradient(180deg, #242424 0%, #050505 100%);
}
.service_item:nth-child(2n+1) a
{
    color: white;
    text-decoration: none;
}
.service_item:nth-child(2n)
{
    background: #CCCCCC;
}
.service_item:nth-child(2n):hover
{
    background: #bbb;
}
.service_item:nth-child(2n) a
{
    color: black;
    text-decoration: none;
}
.service_item_wrapper
{
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 70px;
    box-sizing: border-box;
}
.service_item_wrapper h4
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    margin: 0 auto 0;
}
.delimiter_mark, .delimiter
{
    display: inline-block;
    white-space:nowrap;
    vertical-align: middle;
}
.delimiter_wrapper
{
    width: 100%;
    position: absolute;
    top: 45%;
}
.delimiter
{
    width: 80%;
    height: 2px;
    background-color: white;

}
.delimiter_mark
{
    width: 10px;
    height: 10px;
    background-color: #831010;;
}
.service_item:nth-child(2n) .delimiter
{
    background-color: black;
}

.service_item_wrapper img
{
    position:absolute;
    max-width: 100px;
    max-height: 100px;
    left: 40px;
    bottom: 40px;
}
.other_services_watch_all
{
    margin-bottom: 80px;
}
@media screen and (max-width:1150px) {

    .other_services
    {
        width: 800px;
    }
    .other_services .swiper-slide
    {
        width: 235px;
        height: 270px; 
        box-sizing: content-box;
    }

    .service_item_wrapper
    {
        padding-top: 40px;
    }

    .service_item_wrapper h4
    {
        font-weight: 400;
        font-size: 18px;
        width: 90%;
    }

    .service_item_wrapper img
    {
        max-width: 70px;
        max-height: 70px;
        left: 30px;
        bottom: 30px;
    }

}


@media screen and (max-width:900px) {

    .other_services
    {
        width: 600px;
        margin-bottom: 30px;
    }
    .other_services .swiper-slide
    {
        width: 170px;
        height: 220px; 
        box-sizing: border-box;
    }

    .service_item_wrapper
    {
        padding-top: 10px;
    }

    .service_item_wrapper h4
    {
        font-weight: 300;
        font-size: 16px;
        height: 100px;
        display: table-cell;
        vertical-align: middle;
        width: 150px;
        padding-left: 10px;
    }

    .service_item_wrapper img
    {
        max-width: 50px;
        max-height: 50px;
    }
    .other_services .watch_all
    {
        margin-top: 60px;
    }

}

@media screen and (max-width:750px) {

    .other_services
    {
        width: 380px;
    }

}

@media screen and (max-width:400px) {

    .other_services
    {
        width: 100%;
        max-width: 200px;
    }

    .other_services .swiper-slide
    {
        width: 100%;
        height: 220px; 
        text-align: center;
    }

    .service_item_wrapper h4
    {
        font-size: 18px;
        padding: 0 20px;
        width: 100%;
    }
    .service_item_wrapper img
    {
        max-width: 50px;
        max-height: 50px;
        left: calc(50% - 25px);
    }

}



.about_warapper
{
    margin-top: 210px;
    margin-bottom: 180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    color: #000000;
}
.about_warapper img
{
    filter: drop-shadow(-30px -30px 0px #831010);
    width: 560px;
    margin-bottom: 160px;
}
.about_item
{
    position: relative;
    min-height: 608px;
}
.about_item:nth-child(2n) img
{
    float: right;
    margin-left: 90px;

}
.about_item:nth-child(2n + 1) img
{
    float: left;
    margin-right: 60px;
}

@media screen and (max-width:1200px) {
    .about_warapper
    {
        width: 900px;
        margin-top: 100px;
        margin-bottom: 90px;
        font-weight: 300;
        font-size: 19px;
    }
    .about_warapper img
    {
        width: 300px;
        margin-bottom: 12px;
        filter: drop-shadow(-20px -20px 0px #831010);
    }
    .about_item
    {
        min-height: 308px;
    }
    .about_item:nth-child(2n) img
    {
        margin-left: 60px;

    }
    .about_item:nth-child(2n + 1) img
    {
        margin-right: 40px;
    }
}

@media screen and (max-width:900px) {
    .about_warapper
    {
        width: 600px;
        margin-top: 60px;
        margin-bottom: 50px;
        font-size: 24px;
        text-align: center;
    }
    .about_warapper img
    {
        width: 80%;
        filter: drop-shadow(-25px -25px 0px #831010);
        float: none !important;
        margin: 0 auto;
        margin-bottom: 44px;
        display: block;
    }
    .about_item
    {
        min-height: auto;
        margin-bottom: 80px;
    }
    .about_item:nth-child(2n) img
    {
        margin-left: auto;

    }
    .about_item:nth-child(2n + 1) img
    {
        margin-right: auto;
    }
}

@media screen and (max-width:600px) {
    .about_warapper
    {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        font-size: 18px;
    }
    .about_warapper img
    {
        width: 90%;
        filter: drop-shadow(-20px -20px 0px #831010);
        margin-bottom: 34px;
    }
}
.page_nav
{
    margin: 0 auto;
    text-align: center;
}
.page_nav div
{
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 120px;
}
.page_nav a
{
    color:#000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    text-decoration: none;
    padding: 3px 5px;
}
.page_nav a:hover, .page_nav .active
{
    color:#ccc;
    background-color: #831010;
}
@media screen and (max-width:600px) {
    .page_nav div
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .page_nav a
    {
        font-size: 18px;

    }

}
.docs
{
    padding-top: 40px;
    text-align: center;
}
.docs ul
{
    list-style-type: none;
    padding-left: 0;
}
.docs .inline
{
    vertical-align: top;
    text-align: left;
}
.docs ul li
{
    display: inline-block;
    width: 396px;
    white-space:nowrap;
    margin-top: 60px;
    text-align: left;
}
.docs a
{
    color: #000;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 21px;
    line-height: 140%;
}
.doc_title
{
    font-weight: 600;
    margin: 0;
}
.doc_subtitle
{
    margin-top: 0;
}
.docs img
{
    margin-right: 20px;
    width: 84px;
}

@media screen and (max-width:600px) {
    .docs
    {
        padding-top: 5px;
    }
    .docs ul li
    {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 30px;
    }
    .docs a
    {
        font-size: 18px;

    }
    .docs img
    {
        width: 50px;
    }
}

.persons
{
    margin-top: 100px;
}
.persons .left_wrapper
{
    width: 335px;
    margin-right: 85px;

}
.persons .image_wrapper
{
    position: relative;
    width: 100%;
}
.persons .image_wrapper img
{
    display: block;
    width: 100%;
    filter: drop-shadow(-30px -30px 0px #831010);
}
.persons .image_wrapper .full_name
{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
    padding: 7px 40px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}
.persons .description
{
    width: calc(100% - 430px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    vertical-align: top;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    padding-bottom: 70px;
    min-height: 360px;
    padding-top: 30px;
    position: relative;
}
.description p
{
    margin: 0px;
}
.persons .person_item
{
    margin-bottom: 80px;
}
.description a
{
    display: block;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4px;
    line-height: 28px;
    text-align: center;
    color: #831010;
    border-radius: 36px;
    border: 1px solid #831010;
    width: min-content;
    padding: 8px 40px;
    position: absolute;
    right: 10px;
    bottom: 40px;
}
.description a:hover
{
    color:white;
    background-color: #831010;
}
.persons .qualification
{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #831010;
margin: 30px auto;
width: 70%;

}

@media screen and (max-width:1200px) {

    .persons .left_wrapper
    {
        width: 265px;
        margin-right: 45px;
        margin-left: 30px;
    }

    .persons .image_wrapper .full_name
    {
        font-size: 18px;
        line-height: 19px;
    }
    .persons .qualification
    {
    font-size: 12px;
    margin: 10px auto;
    }

    .persons .description
{
    width: calc(100% - 350px);
    font-weight: 300;
    font-size: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-bottom: 110px;
    min-height: 240px;
    padding-top: 30px;
    position: relative;
}
}

@media screen and (max-width:800px) {
    .persons .inline

    {
        display: block;
        margin: auto auto;
    }
    .persons .description
    {
        width: 95%;
        max-width: 600px;
        padding-bottom: 10px;
        font-size: 16px;
        min-height: auto;
        text-align: center;
        border-top: none;
    }

    .persons .description a
    {
        position: relative;
        margin: 70px auto 20px;
        font-size: 18px;
        line-height: 22px;
    }
    .persons .qualification
    {
        margin-top: 25px;
        text-align: center;
        margin-bottom: -5px;
    }
}
@media screen and (max-width:500px) {
    .persons:has(> table) 
    {
        margin-top: 30px;
    }
}



.person_view_title
{
    margin-top:162px;
}

.person_view .full_name
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: #000000;
    margin: 58px 0 0 0; 
}
.person_view .sub_h1
{
    width: 153px;
    height: 11px;
    background: #831010;
}

.person_view_wrapper_l2
{
    width: 100%;
}
.person_view_img_wrapper
{
    padding: 40px 0;
}
.person_view_img_wrapper img
{
    width: 360px;
    padding-right: 60px;
    border-right: 1px solid #aaa;
}
.person_view .inline
{
    vertical-align: top;
}
.person_view .description

{
    width: calc(100% - 430px);
    padding: 10px 0 10px 80px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 140%;
    color: #000000;
}

.person_view .detail_info
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 140%;
}
.detail_info p
{
    margin: 21px 0;
}

@media screen and (max-width:1200px) {
    .person_view_title
    {
        margin-top:100px;
    }
    .person_view
    {
        padding: 0 40px;
        box-sizing: border-box;

    }
    .person_view .full_name
    {
        font-size: 28px;
        margin: 40px 0 0 0; 
    }
    .person_view_img_wrapper img
    {
        width: 280px;
        padding-right: 40px;
    }

    .person_view .description
    {
        width: calc(100% - 370px);
        padding: 10px 0 10px 40px;
        font-weight: 300;
        font-size: 25px;
    }

    .person_view .detail_info
    {
        font-weight: 300;
        font-size: 25px;
    }
    .detail_info p
    {
        margin: 18px 0;
    }
}

@media screen and (max-width:900px) {
    .person_view_title
    {
        margin-top:50px;
    }
    .person_view
    {
        padding: 0 30px;
        text-align: center;

    }
    .person_view .sub_h1
    {
        margin: 5px auto 30px;
    }
    .person_view .inline
    {
        display: block;
    }
    .person_view .full_name
    {
        font-size: 24px;
        margin: 30px 0 0 0; 
    }

    .person_view_img_wrapper
    {
        padding: 0;
    }
    .person_view_img_wrapper img
    {
        padding-right: 0px;
        border-right: none;
    }

    .person_view .description
    {
        width: 95%;
        margin: 5px auto;
        max-width: 600px;
        padding: 20px 0;
        font-weight: 300;
        font-size: 20px;
    }

    .person_view .detail_info
    {
        font-weight: 300;
        font-size: 20px;
        width: 95%;
        max-width: 600px;
        margin: 5px auto;
    }
    .detail_info p
    {
        margin: 9px 0;
    }
}

.reviews
{
    margin-top: 122px;
}
.reviews_item
{
    margin-bottom: 122px;
    border: 1px solid #831010;
    box-sizing: border-box;
    padding: 48px;
}
.review_img_wrapper a
{
    text-decoration: none;
}
.review_img_wrapper img
{
    width: 300px;
    padding-right: 90px;
}
.review_data
{
    width: calc(100% - 400px);
}

.review_data .author
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: #000000;
    margin:0;

}

.review_data .company_name
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    color: #666;
    margin:0;

}
.review_data .content
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    color: #000000;
    margin-top: 14px;
}

.review_service
{
    margin-top: 53px;
}
.review_service p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #831010;
    margin: 0;

}
.review_service .service_name
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    text-decoration-line: underline;

    color: #831010;
    display: block;
}
.review_service .service_request
{
    display: block;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}
.review_service .service_request button
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23.4px;
    line-height: 28px;
    text-align: center;   
    color: #FFFFFF;
    background: #831010;
    border-radius: 36px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
}
.review_service .service_request button:hover
{
    background-color: #6d1111;
}

@media screen and (max-width:1100px) {
    .reviews
    {
        margin-top: 92px;
    }
    .reviews_item
    {
        margin-bottom: 92px;
    }
    .review_img_wrapper img
    {
        width: 250px;
        padding-right: 40px;
    }
        
    .review_data
    {
        width: calc(100% - 320px);
    }
    .review_data .content
    {
        font-weight: 300;
        font-size: 22px;
    }
    .review_data .author
    {
        font-size: 26px;
    }

    .review_data .company_name
    {
        font-size: 25px;
    }
    .review_service
    {
        margin-top: 33px;
    }
    .review_service p
    {
        font-weight: 300;
        font-size: 20px;
    }
    .review_service .service_name
    {
        font-weight: 300;
        font-size: 22px;
    }
    .review_service .service_request button
    {
        font-weight: 300;
        font-size: 21px;
        line-height: 24px;
    }
}

@media screen and (max-width:700px) {
    .reviews
    {
        margin-top: 52px;
    }
    .reviews_item
    {
        width: 95%;
        max-width: 500px;
        margin: auto auto;
        margin-bottom: 52px;
        padding: 24px;
    }
    .reviews_item .inline
    {
        display: block;
        text-align: center;
    }
    .review_img_wrapper img
    {
        width: 70%;
        max-width: 300px;
        padding-right: 0;
        margin-bottom: 40px;
    }
        
    .review_data
    {
        width: 100%;
    }
    .review_data .content
    {
        font-size: 18px;
    }
    .review_data .author
    {
        font-size: 21px;
    }
    .review_data .company_name
    {
        font-size: 20px;
    }
    .review_service
    {
        margin-top: 21px;
    }
    .review_service p
    {
        font-size: 18px;
    }
    .review_service .service_name
    {
        font-size: 18x;
    }
    .review_service .service_request
    {
        text-align: center;
        margin: 30px 0 0;
    }
    .review_service .service_request button
    {
        font-size: 19px;
        line-height: 21px;
    }
}

.services 
{
    width: 960px;
    margin:  92px auto 0;
}
.services .item 
{
    width: 467px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    height: 185px;
    vertical-align: top;
    position: relative;
    padding: 30px 40px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 140%;
    margin-bottom: 36px;
    border: 1px solid #333;
}
.services .item:nth-child(2n+1)
{
    margin-right: 10px;
}
.services .item:nth-child(2n)
{
    margin-left: 10px;
}
.services .item img
{
    position: absolute;
    bottom: 20px;
    right: 25px;
    max-width: 60px;
    max-height: 60px;
}
.services .item:nth-child(4n+2), .services .item:nth-child(4n+3)
{
    color: #333333;
    background: #CCCCCC;
}
.services .item:nth-child(4n+2):hover, .services .item:nth-child(4n+3):hover
{
    color: #222;
    background: #bbb;
}
.services .item:nth-child(4n+1), .services .item:nth-child(4n+4)
{
    background: linear-gradient(180deg, #373737 0%, #141212 100%);
    color:white;
}

.services .item:nth-child(4n+1):hover, .services .item:nth-child(4n+4):hover
{
    background: linear-gradient(180deg, #242424 0%, #050505 100%);
}

@media screen and (max-width:1000px) {
    .services 
    {
        width: 680px;
        margin:  54px auto 0;
    }
    .services .item 
    {
        width: 319px;
        height: 130px;
        padding: 23px 20px;
        font-size: 20px;
        margin-bottom: 16px;
    }
    .services .item:nth-child(2n+1)
    {
        margin-right: 8px;
    }
    .services .item:nth-child(2n)
    {
        margin-left: 8px;
    }
    .services .item img
    {
        bottom: 12px;
        right: 16px;
        max-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width:700px) {

    .services 
    {
        width: 480px;
        margin:  34px auto 0;
    }
    .services .item 
    {
        width: 230px;
        height: 115px;
        padding: 23px 20px;
        font-size: 18px;
    }
    .services .item img
    {
        bottom: 8px;
        right: 12px;
        max-width: 30px;
        max-height: 30px;
    }

}

@media screen and (max-width:500px) {

    .services 
    {
        width: 95%;
        max-width: 404px;
    }
    .services .item 
    {
        width: calc(50% - 15px);
        height: 91px;
        padding: 18px 14px;
        font-size: 14px;
    }
    .services .item img
    {
        bottom: 8px;
        right: 12px;
        max-width: 20px;
        max-height: 20px;
    }

}

.work_order
{
    display: table;
    vertical-align: top;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    margin: 48px auto 0;
    padding: 25px 0;
    box-sizing: border-box;
}
.work_order .item
{
    display: table-cell;
    border-right: 1px solid #000;
    padding: 0 20px;
    width: 25%;
}
.work_order .item:last-child
{
    border-right: none;
}
.work_order_number
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: #831010;
    border-bottom: 1px solid #000;
}

.work_order_title
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;

    color: #831010;
    margin: 5px 0;
    min-height: 70px;
}
.work_order_title span 
{
    display: none;
}
.work_order_text
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;

    color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:1200px) {
    .work_order
    {
        width: calc(100% - 40px);
    }
}



@media screen and (max-width:900px) {
    .work_order
    {
        margin: 28px auto 0;
        padding: 15px 0;
        width: calc(100% - 30px);
    }
    .work_order_number
    {
        font-size: 20px;
    }.work_order_title
    {
        font-size: 16px;
        min-height: 40px;
    }
    .work_order_text
    {
        font-size: 14px;
    }
    .work_order .item
    {
        padding: 0 10px;
    }
}

@media screen and (max-width:660px) {
    .work_order .item
    {
        display: block;
        width: calc(100% - 40px);
        border-right: none;
        padding: 0 20px;
    }
    .work_order_number
    {
        display: none;
    }
    .work_order_title
    {
        font-size: 18px;
        min-height: auto;
        border-bottom: 1px dashed grey;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .work_order_title span 
    {
        display: contents;
    }
    .work_order_text
    {
        font-size: 16px;
        padding-bottom: 10px;
    }

}

.service_view
{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    padding: 64px;
    margin-top: 90px;
    margin-bottom: 150px;
    box-sizing: border-box;
}

.service_title
{
border-bottom: #000 solid 1px;
padding-bottom: 15px;
position: relative;

}

.service_title h3 
{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    margin: 0;
    color: #000000;
}
.service_title .service_sub_title
{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #831010;
    height: 4px;
    width: 114px;

}
.service_view_wrapper .item
{
    margin-bottom: 40px;
}
.service_view_wrapper .item:last-child
{
    margin-bottom: 0px;
}
.service_content
{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    color: #000000;
    padding-right: 30%;
    min-height: 50px;
}
.service_content .service_price
{
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    min-width: 224px;
    border: 1px solid #831010;
    border-radius: 36px;
    padding: 9px 12px;
    background-color: white;
}
.service_content .service_price:hover
{
    background-color: #831010;
    color: white;
}
.service_content .service_price:hover span
{
    display: none;
}
.service_content .service_price:hover:before
{
    content: 'Обсудить';
}

@media screen and (max-width:900px) {
    .service_content
    {
        padding-right: 0;
    }

    .service_content .service_price
    {
        position: relative;
    }
}

@media screen and (max-width:500px) {
    .service_view
    {
        margin-top: 40px;
        padding:  30px;
        margin-bottom: 60px;
    }
    .service_title
    {
        padding-bottom: 7px;
    }
    .service_title h3 
    {
        font-size: 21.5px;

    }
    .service_content
    {
        font-size: 16px;
    }
    .service_content .service_price
    {
        margin: 0 auto;
        display: block;
        font-size: 16px;
        line-height: 20px;
        min-width: 184px;
        padding: 9px 12px;
    }
}

.open_hide
{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;

    color: #831010;
    user-select: none;

}
.open_hide_checkbox {
    position: absolute;
    display: none;
 }
 
.open_hide_checkbox:checked ~ div {
    display: none;
 }
 .checkbox_wrapper
 {
    padding: 64px;
 }
 .prices
 {
    margin-top: 40px;
 }
.prices .open_hide
{
    border-bottom: 2px solid  #831010;
    display: block;
    width: calc(100% - 64px);
    padding-bottom: 4px;
    user-select: none; 
}
.price_wrapper
{
    margin-bottom: 64px;
    position: relative;

}

.open_hide_checkbox:checked ~ .open_hide .arrow_wrapper_2 .arrow_wrapper
{
    display: none;
}

.open_hide_checkbox:checked ~ .open_hide .arrow_wrapper_2:before
{
    content: '▼';
}

.arrow_wrapper_2
{
    position: absolute;
    right: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #831010;
    border: 2px solid #831010;
    display: block;
    height: 44px;
    width: 44px;
    text-align: center;
    border-radius: 50%;
    top: 37px;
}

@media screen and (max-width:900px) {
    .open_hide
    {

        font-size: 32px;
    }

    .prices .open_hide
    {
        width: calc(100% - 54px);
        padding-bottom: 4px;
        user-select: none; 
    }
    .checkbox_wrapper
    {
       padding: 32px 54px 32px 32px;
    }
    .price_wrapper
    {
        margin-bottom: 32px;
        position: relative;

    }

    .arrow_wrapper_2
    {
        font-size: 28px;
        line-height: 37px;
        height: 38px;
        width: 38px;
        top: 27px;  
    }
}

@media screen and (max-width:500px) {
    .open_hide
    {
        font-size: 21px;
    }

    .prices .open_hide
    {
        width: calc(100% - 34px);
        padding-bottom: 4px;
        user-select: none; 
    }
    .checkbox_wrapper
    {
       padding: 20px 34px 20px 15px;
    }
    .price_wrapper
    {
        margin-bottom: 32px;
        position: relative;

    }

    .arrow_wrapper_2
    {
        font-size: 22px;
        line-height: 27px;
        height: 28px;
        width: 28px;
        top: 17px;
        right: -10px;  
    }
}

.contacts
{
    margin-top: 80px;
}

.route_title
{
    margin-top: 34px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;

    color: #000000;

}
.route_time 
{
    font-weight: 400;
}
.route_metro_line
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-top: 6px;
    margin-bottom: 0;
    color: #000000;
}
.route_steps
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 140%;
    margin-top: 6px;
    margin-bottom: 50px;
    color: #000000;

}

.contacts h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    margin: 0;
    color: #000000;

}

.contacts h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    margin: 21px 0 0;
    color: #000000;

}
.contacts .item 
{
    display: table-cell;
    width: 50%;
    vertical-align: top;
}
.contacts .item p
{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 21px;
    line-height: 140%;
    color: #000000;
    margin: 0;

}
.contacts .item p b
{
    font-weight: 600;
    
}
.contact_info_p
{
    margin-top: 21px !important;
    max-width: 380px;

}

.cred
{
    margin-top: 34px;
    max-width: 500px;
}
.cred a
{
    display: inline-block;
    width: max-content;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 140%;
text-decoration: none;
margin-bottom: 34px;
padding-right: 10px;


color: #000000;

}
.cred a img
{
    width: 30px;
    height: 30px;
    margin-right: 12px;
    float: left;
}
.contact_info_cred_wrapper
{
    display: table;
    width: 100%;
    vertical-align: top;
}
.cred a:hover
{
    text-decoration: underline;
}
@media screen and (max-width:600px) {
    .contacts
    {
        margin-top: 30px;
        max-width: 400px;
        margin-left: auto;
        margin-left: auto;
    }
    .contact_info_cred_wrapper
    {
        display: block;
        width: 100%;
    }
    .contacts .item 
    {
        display: block;
        width: 100%;
    }
    .route_title
    {
        font-size: 18px;

    }
    .route_metro_line
    {
        font-size: 14px;
    }
    .route_steps
    {
        font-size: 18px;

    }

    .contacts h2
    {
        font-size: 28px;
        margin: 15px auto 0;
        max-width: 360px;

    }

    .contacts h3
    {
        font-size: 20px;
        margin: 15px auto 0;
        max-width: 360px;

    }
    .contact_info_p
    {

        max-width: 360px;
        margin: 15px auto 0;
        padding-right: 40px;
        box-sizing: border-box;
    }
    .contacts .item p
    {
        font-size: 15px;

    }
    .cred
    {

        max-width: 360px;
        margin: 30px auto 0;
        padding-right: 40px;
        box-sizing: border-box;
    }
    .cred a
    {
    font-size: 14px;
    padding-right: 3px;

    }
    .cred a img
    {
        width: 24px;
        height: 24px;
        margin-right: 4px;
        margin-top: -4px;
    }
}
@media screen and (max-width:360px) {
    .cred
    {

        padding-right: 0px;
    }
    .contact_info_p
    {

        padding-right: 0px;
    }
}

.errror_404
{
    min-height: 500px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    padding-top: 40px;
}

.blogs
{
    margin-top: 64px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.blogs .blog_item
{
    margin-bottom: 72px;
}

.blog_item a
{
    font-family: 'Roboto';
    text-decoration: underline;

    color: #831010;

}
.blog_item a:hover
{
    color: #660d0d;
}
.blog_item h2
{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    margin: 0 0 22px;

}

.blog_item .blog_datatime
{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}

.blog_item  .blog_description
{
    margin: 4px 0 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    color: #000000;
}

@media screen and (max-width:1041px) {

    .blogs
    {
        margin-top: 44px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }

}

@media screen and (max-width:600px) {

    .blogs .blog_item
    {
        margin-bottom: 32px;
    }

    .blog_item h2
    {
        font-size: 22px;
        margin: 0 0 12px;
    }

    .blog_item .blog_datatime
    {
        font-size: 14px;
    }

    .blog_item  .blog_description
    {
        margin: 2px 0 7px;
        font-size: 18px;
    }
        
}

.blog h1
{
    margin: 64px auto 0;
}
.blog .subtitle
{
    margin-top: 20px;
    font-size: 15px;
}
.blog article
{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 140%;
    margin-top: 24px;
    position: relative;
}

.blog article img
{
    max-width: 100%;
}
.blog article h2, .blog article h3, .blog article h4, .blog article h5, .blog article h6
{
    margin: 14px 0;
    font-weight: 400;
}
.blog article p
{
    margin: 14px 0;
}

.blog a
{
    text-decoration: none;

    font-weight: 400;
    color: #831010;

}
.blog a:hover
{
    color: #660d0d;
    text-decoration: underline;
}

.blog table {width: 100%; border: 0px; border-collapse: collapse;}
.blog table tr:first-child {font-weight: bold;}
.blog table tr td { border-right: 1px solid #999ba0;}
.blog table tr td:last-child { border-right: none;}
.blog table td {padding: 0.6rem 1rem; border: none; border-bottom: 1px solid #999ba0;}

@media screen and (max-width: 1000px) {
    .blog table tr td { border-right: none;}
    .blog table tr {
      display: block;
      margin-bottom: 1rem;
      border-bottom: 2px solid #999ba0;
    }
    .blog table td {
      display: block;
    }
}

@media screen and (max-width: 800px) {
    .blog article
    {
        font-size: 18px;
        margin-top: 18px;
    }
    .blog article h2, .blog article h3, .blog article h4, .blog article h5, .blog article h6
    {
        margin: 14px 0;
        font-weight: 400;
    }
    .blog article p
    {
        margin: 14px 0;
    }

}

@media screen and (max-width: 800px) {

    .blog h1
    {
        margin: 34px auto 0;
    }

}

.subscription_services_description
{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-top: 96px;
    margin-bottom: 50px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;

}
.subscription_services_common_wrapper
{
    margin: 0 auto;
    width: 600px;
}
.subscription_services_common_wrapper .item
{
    display: inline-block;
    margin-bottom: 32px;
    text-align: left;
}
.subscription_services_common_wrapper .item.item:nth-child(2n+1)
{
    margin-right: 20px;
}

@media screen and (max-width: 1200px) {
    .subscription_services_description
    {
        margin-top: 46px;
        margin-bottom: 50px;
        max-width: 80%;
        font-size: 20px;
    }
    .subscription_services_common_wrapper
    {
        width: 480px;
    }
    .subscription_services_common_wrapper .item
    {
        width: 218px;
        height: 260px;
    }
}

@media screen and (max-width: 500px) {

    .subscription_services_description
    {
        margin-top: 26px;
        margin-bottom: 50px;
        max-width: 100%;
        font-size: 17px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .subscription_services
    {
        padding: 0 10px;
    }
    .subscription_services_common_wrapper
    {
        width: calc(100% );
    }

    .subscription_services_common_wrapper .item.item:nth-child(2n+1)
    {
        margin-right: 10px;
    }

    .subscription_services_common_wrapper .item
    {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 400px) {
    .subscription_services_common_wrapper .item
    {
        height: 220px;
    }
    .subscription_services_common_wrapper .name
    {
        padding-top: 14px;
        padding-left: 14px;

    }
    .subscription_services_common_wrapper .name .underline
    {
        height: 3px;
        width: 51px;

    }
    .subscription_services_common_wrapper .name a
    {
        font-size: 17px;
    }

    .subscription_services_common_wrapper .description
    {
        font-size: 15px;
    }

    .subscription_services_common_wrapper .price
    {
        margin-top: -13px;
        margin-left: 14px;
        font-size: 18px;
    }

    .subscription_services_common_wrapper .button a
    {
        bottom: 0px;
        right: 0px;
        height: 110px;
        width: 110px;
        line-height: 65px;
        padding-left: 25px;
        font-size: 20px;
    }
    .subscription_services_common_wrapper .button
    {
        width: 120px;
        height: 120px;
        right: -55px;
        bottom: -55px;
    }
}

.subscription_services_view .open_hide
{
    border-bottom: 2px solid #6d1111;
    width: calc(100% - 70px);
    display: block;
}
.subscription_services_list_wrapper
{
    position: relative;
    margin-top: 75px;
}

.subscription_services_view .checkbox_wrapper
{
    padding: 34px 0 0 ;
}
.subscription_services_list a
{
    text-decoration: none;
    display: block;
    width: 100%;
    padding-bottom: 21px;
    padding-top: 16px;
    border-bottom: 1px solid #000;
    position: relative;
    color: #000000;
    min-height: 84px;
    box-sizing: border-box;
    
}
.subscription_services_list a:hover
{
    color: #6d1111; 
}
.subscription_services_list .service_name
{
    width: calc(100% - 200px);
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}
.subscription_services_list .service_amount
{
    display: block;
    position: absolute;
    right: 0;
    bottom: 50%;
    top: 50%;
    width: min-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 140%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    height: min-content;
}

@media screen and (max-width: 1300px) {

    .subscription_services_view .checkbox_wrapper
    {
        padding: 14px 0 0 ;
    }

    .subscription_services_view
    {
        width: 100%;
        padding: 0 20px;
        max-width: 900px;
    }

    .subscription_services_list .service_name
    {
        width: calc(100% - 100px);
        font-size: 22px;
    }

    .subscription_services_list .service_amount
    {
        font-size: 38px;
    }
}

@media screen and (max-width: 900px) {
    .subscription_services_view
    {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .subscription_services_view .open_hide
    {
        width: calc(100% - 40px);
    }

    .subscription_services_view .checkbox_wrapper
    {
        padding: 0 ;
    }

    .subscription_services_list .service_name
    {
        width: calc(100% - 50px);
        font-size: 18px;
    }
    .subscription_services_list .service_amount
    {
        font-size: 34px;
    }
}
.subscription_services_description_title_wrapper
{
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    margin-top: 96px;
    margin-bottom: 67px;
}
.subscription_services_description_title_wrapper div
{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.subscription_services_description_title_wrapper h2
{
    margin-top: -30px;
    position: absolute;
    display: block;
    width: max-content;
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 140%;
    color: #831010;
    padding: 0 30px;
}
.subscription_services_view .item
{
    display: table-cell;
    vertical-align: top;
}
.subscription_services_view .left_block_wrappeer p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin: 0px;

    color: #000000;
}
.subscription_services_view .left_block_wrappeer
{
    padding-right: 30px;
    box-sizing: border-box;
    border-right: 1px solid #000;
}

.subscription_services_view .right_block_wrapper
{
    width: 45%;
    box-sizing: border-box;
    padding-left: 30px;
}
.subscription_services_view .right_block_wrapper img
{
    max-width: 100%;

}
.price_info
{
    margin-top: 35px;
    position: relative;

}
.price_info span
{
    display: block;
}
.price_info .price_label
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 140%;
    color: #000000;

}

.price_info  .price_amout
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 140%;
    color: #000000;

}
.price_info a
{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #831010;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 75px;
    margin-top: 10px;
    display: block;
    width: max-content;
    user-select: none;
}
.price_info a:hover
{
    background: #701528;
}

@media screen and (max-width: 1300px) {

    .subscription_services_description_title_wrapper div
    {
        max-width: 900px;
    }

    .subscription_services_view .left_block_wrappeer p
    {
        font-size: 21px;
    }
}

@media screen and (max-width: 900px) {
    .subscription_services_description_title_wrapper 
    {
        display: none;
    }
    .subscription_services_view .item
    {
        display: block;
        width: 100%;
    }
    .subscription_services_view .item_wrapper
    {
        max-width: 600px;
        margin: 0 auto;
        display: flex; flex-direction: column;

    }
    .subscription_services_view .left_block_wrappeer
    {
        padding-right: 0;
        border-right: none;
        border-top: 1px solid #000;
        padding: 30px 0;
        order: 2;
    }
    .subscription_services_view .right_block_wrapper
    {
        padding: 30px 0;
        order: 1;

    }
    .subscription_services_list_wrapper
    {
        margin-top: 25px;
    }

}

@media screen and (max-width: 500px) {
    .price_info
    {
        margin-top: 15px;
    
    }
    .price_info .price_label
    {
        font-size: 32px;
    
    }
    
    .price_info  .price_amout
    {
        font-size: 42px;
    
    }
    .price_info a
    {
        padding: 6px 35px;
        margin-top: 10px;
    }

    .subscription_services_view .left_block_wrappeer p
    {
        font-size: 18px;
    }
}

.form_success
{
    margin-top: 70px;
    margin-bottom: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    max-width: 800px;
}

.form_success span
{
    font-weight: 500;
    color: #6d1111;
}

.form_success a
{
    color: #6d1111;
}

@media screen and (max-width: 900px) {
    .form_success
    {
        margin-top: 40px;
        margin-bottom: 150px;
        font-size: 22px;
        max-width: 500px;
    }
}

.form_error
{
    background: none;
}

.form_error input
{
    border: 1px solid #999;
}