{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'service_items'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/service_items/{{service_item.id}}">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="service_items-name">Название<span class="red">*</span></label>
    <input type="text" class="form-control" id="service_items-name" name="name" placeholder="Название..." required value="{{service_item.name}}">
  </div>
  <div class="form-group">
    <label for="service">Блок услуг <span class="red">*</span></label>
    <select class="custom-select" name="service" required>
      <option value="{{service_item.service.id}}">{{service_item.service.name}}</option>
      {% for i in select_block %}
      <option value="{{i.id}}">{{i.name}}</option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="description">Кратное описание <span class="red">*</span></label>
    <textarea class="form-control" id="description" rows="3" name="description" required placeholder="Краткое описание...">{{service_item.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="service_items-price">Цена<span class="red">*</span></label>
    <input type="text" class="form-control" id="service_items-price" name="price" placeholder="Цена..." required value="{{service_item.price}}">
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success" role="alert">
    Успешно обновлено!
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}