{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'service_items'} )}}

<div class="content">
<a href="{{ site_url }}/admin/service_items/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить услугу</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 25%;">Название</th>
      <th scope="col" style="width: 30%;">Описание</th>
      <th scope="col" style="width: 20%;">Блок</th>
      <th scope="col" style="width: 10%;">Цена</th>
      <th scope="col" style="width: 10%;"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for service_item in service_items %}
    <tr>
      <th scope="row">{{service_item.id}}</th>
      <td>{{service_item.name}}</td>
      <td>{{service_item.description}}</td>
      <td><a href="{{ site_url }}/admin/services/{{service_item.service.type.value}}/{{service_item.service.canonicalUrl}}">{{service_item.service.name}}</a></td>
      <td>{{service_item.price}}</td>
      <td class="td-icons">
        <a href="{{ site_url }}/admin/service_items/{{service_item.id}}">&#10002;</a>
        <a href="{{ site_url }}/admin/service_items/{{service_item.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/service_items/{{service_item.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}