{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'reviews'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/reviews" enctype="multipart/form-data">
  <div class="form-group">
    <label for="reviews-author">От имени кого пишется отзыв <span class="red">*</span></label>
    <input type="text" class="form-control" id="reviews-author" name="author" placeholder="ФИО" required>
  </div>
  <div class="form-group">
    <label for="reviews-company-name">Откуда автор или кто-он (должность, статус, компания) <span class="red">*</span></label>
    <input type="text" class="form-control" id="reviews-company-name" name="company_name" placeholder="Откуда автор отзыва или кто-он..." required>
  </div>
  <div class="form-group">
    <label for="reviews-file">Файл с отызвом (JPEG,  PNG) </label>
    <input type="file" class="form-control-file" name="file" id="reviews-file" accept="image/jpeg, image/png">
  </div>
  <div class="form-group">
    <label for="review-text">Текст отзыва <span class="red">*</span></label>
    <textarea class="form-control" id="review-text" rows="3" name="text"></textarea>
  </div>
  <div class="form-group">
    <label for="service">Услуга <span class="red">*</span></label>
    <select class="custom-select" name="service" required>
      {% for i in service_items %}
      <option value="{{i.id}}">{{i.name}}</option>
    {% endfor %}
    </select>
  </div>
    {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">+ Добавить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}