{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'reviews'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/reviews/{{review.id}}" enctype="multipart/form-data">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="reviews-author">От имени кого пишется отзыв <span class="red">*</span></label>
    <input type="text" class="form-control" id="reviews-author" name="author" placeholder="ФИО" required value="{{review.author}}">
  </div>
  <div class="form-group">
    <label for="reviews-company-name">Откуда автор или кто-он (должность, статус, компания) <span class="red">*</span></label>
    <input type="text" class="form-control" id="reviews-company-name" name="company_name" placeholder="Откуда автор отзыва или кто-он..." required value="{{review.companyName}}">
  </div>
  <div class="form-group">
    <label for="reviews-file">Файл с отызвом (JPEG,  PNG) </label>
    <input type="file" class="form-control-file" name="file" id="reviews-file" accept="image/jpeg, image/png">
  </div>
  <div class="form-group">
    <label>Текущий файл с отзывом</label><br />
    {% if review.url %}
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{review.url}}" target="_blank" >
    <img src="{{ site_url }}/files/{{files_dir}}/200_w/{{review.url}}" alt="Отзыв от {{review.author}}" width="200" >
    </a>
    {% else %}
    <div class="alert alert-warning" role="alert">
      Файл с отзывом отсутсвует!
    </div>
    {% endif%}
  </div>
  <div class="form-group">
    <label for="review-text">Текст отзыва <span class="red">*</span></label>
    <textarea class="form-control" id="review-text" rows="3" name="text">{{review.text}}</textarea>
  </div>
  <div class="form-group">
    <label for="service">Услуга <span class="red">*</span></label>
    <select class="custom-select" name="service" required>
      <option value="{{review.serviceItem.id}}">{{review.serviceItem.name}}</option>
      {% for i in service_items %}
      <option value="{{i.id}}">{{i.name}}</option>
    {% endfor %}
    </select>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success" role="alert">
    Успешно обновлено!
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}