{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'reviews'} )}}

<div class="content">
<a href="{{ site_url }}/admin/reviews/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить отзыв</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 12%;">Файл</th>
      <th scope="col" style="width: 14%;">Автор отзыва</th>
      <th scope="col" style="width: 29%;">Содержимое отзыва</th>
      <th scope="col" style="width: 15%;">Услуга</th>
      <th scope="col" style="width: 15%;">Дата</th>
      <th scope="col" style="width: 10%;"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <th scope="row">{{review.id}}</th>
      <td>
        {% if review.url %}
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{review.url}}" target="_blank" >
          <img src="{{ site_url }}/files/{{files_dir}}/100_w/{{review.url}}" alt="Отзыв от {{review.author}}" width="100" > 
        </a>
        {% else %}
          -
        {% endif %}
      </td>
      <td>{{review.author}}</td>
      <td>{{review.text}}</td>
      <td><a href="{{ site_url }}/admin/service_items/{{review.serviceItem.id}}">{{review.serviceItem.name}}</a></td>
      <td>{{ review.createdAt|date('d.m.Y H:i:s') }}</td>
      <td class="td-icons">
        <a href="{{ site_url }}/admin/reviews/{{review.id}}">&#10002;</a>
        <a href="{{ site_url }}/admin/reviews/{{review.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/reviews/{{review.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}