{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: seo.title, "link": ""}]}) }}
{{ include('user/common/title.html.twig', {title: "Неверно переданы данные", subtitle: "Заполните форму повторно"})}}

<div class="request_form form_error">   
            <div>
                <form action="{{site_url}}/requests" method="POST" >
                <input type="text" name="name" placeholder="Ваше имя" required  maxlength="20" /><input type="tel"  name="phone" placeholder="Ваш телефон" class="tel"  value="" pattern="\+7 \([0-9]{3}\) [0-9]{3} [0-9]{4}" required  />
                <button type="submit">Отправить повторно</button>
                </form>
            </div>
        </div>
{{ include('user/common/footer.html.twig') }}