{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: seo.title, "link": ""}]}) }}
{{ include('user/common/title.html.twig', {title: seo.title, subtitle: sub_title})}}

        <div class="form_success content_wrapper">
        <p><span class="name">{{name}}</span>, в ближайшее время мы свяжемся с вами по указанному вами контактному номеру: <br> <span class="phone">{{phone}}</span></p>
        <p>Ожидайте нашего звонка.</p>
        <p><a href={{site_url}}>На главную</a></p>
        </div> 
{{ include('user/common/footer.html.twig') }}