{{ include('admin/common/header.html.twig') }}
<div class="content">
<div class="login_form">
<form action="{{ path('app_login') }}" method="post">

    <div class="form-group">
        <label for="username">Имя пользователя</label>
        <input type="text" class="form-control" id="username" placeholder="Имя пользователя" name="_username" value="{{ last_username }}" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Пароль" name="_password" required >
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {% if error %}
        <div class="alert alert-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
</div>
</div>
{{ include('admin/common/footer.html.twig') }}