{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'requests'} )}}

<div class="content">
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 15%;">Имя клиента</th>
      <th scope="col" style="width: 15%;">Телефон</th>
      <th scope="col" style="width: 50%;">Текст заявки</th>
      <th scope="col" style="width: 15%;">Дата</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
    <tr>
      <th scope="row">{{request.id}}</th>
      <td>{{request.clientName}}</td>
      <td>{{request.phone}}</td>
      <td>{{request.text}}</td>
      <td>{{ request.createdAt|date('d.m.Y H:i:s') }}</td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/footer.html.twig') }}