{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: titles.title, "link": uri} ]}) }}
{{ include('user/common/title.html.twig', {title: titles.title, subtitle: titles.sub_title})}}
<div class=" services">
{% for index, service in services %}
    <a class="item" href="{{site_url}}/services/{{service.type.value}}/{{service.canonicalUrl}}">
        {{service.name|slice(0, 40)}}
         {% if (service.img != "") %}
        <img src="{{site_url}}/files/services/65_w/{{service.img}}"alt="{{service.name|slice(0, 10)}}" title="{{service.name|slice(0, 40)}}">
        {% endif %}
    </a>
{% endfor %}
     
</div>
    <div class="warp_1_5p"></div>
{{ include('user/common/persons.html.twig') }}
    <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
    <div class="warp_1_5p"></div>

{{ include('user/common/subscription_services.html.twig') }}
<div class="warp_2p"></div>
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}