{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: titles.title, "link": uri} ]}) }}
{{ include('user/common/title.html.twig', {title: service.name, subtitle: 'Блок услуг'})}}



<div class="content_wrapper service_view">
    <div class="service_view_wrapper">

        {% for index, item in service.serviceItems %}
        <div class="item">
        <a name="{{item.id}}"></a>
            <div class="service_title">
                <h3>{{item.name}}</h3>
                <div class="service_sub_title"></div>
            </div>
            <div class="service_content">
                <p>{{item.description| nl2br}}</p>
                <button class="service_price" data-hystmodal="#request_modal"><span>{{item.price}}</span></button>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>

{{ include('user/common/title_h2.html.twig', {title: json_blocks.work_order.title})}}


<div class="content_wrapper work_order">
    {% for key,value in json_blocks.work_order.data %}
    <div class="item">
        <div class="work_order_number">{{key}}</div>
        <div class="work_order_title"><span>{{key}}. </span>{{value.name}}</div>
        <div class="work_order_text">{{value.description| nl2br}}</div>
    </div>
    {% endfor %}
</div>

        <div class="warp_1_5p"></div>
{{ include('user/common/persons.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/subscription_services.html.twig') }}
<div class="warp_2p"></div>
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}