{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'blogs'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/blogs" enctype="multipart/form-data">
  <div class="form-group">
    <label for="blog-title">Заголовок <span class="red">*</span></label>
    <input type="text" class="form-control" id="blog-title" name="title" placeholder="Название блога..." required>
  </div>
  <div class="form-group">
    <label for="description">Кратное описание (идет в SEO)  <span class="red">*</span></label>
    <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
  </div>

  <div class="form-group">
    <label for="person-text">Содержимое блога <span class="red">*</span></label>
    <textarea class="form-control" id="person-text" rows="5" name="text" required></textarea>
    <script>
      $('#person-text').summernote({
        placeholder: 'Напишите что-нибудь...',
        tabsize: 3,
        height: 300
      });
    </script>
  </div>

    {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">+ Добавить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}