{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'blogs'} )}}

<div class="content">
<a href="{{ site_url }}/admin/blogs/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить блог</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 25%;">Заголовок</th>
      <th scope="col" style="width: 40%;">Карткая информация</th>
      <th scope="col" style="width: 20%;">Дата</th>
      <th scope="col" style="width: 10%;"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for blog in blogs %}
    <tr>
      <th scope="row">{{blog.id}}</th>
      <td>{{blog.title}}</td>
      <td>{{blog.description}}</td>
      <td>{{ blog.createdAt|date('d.m.Y H:i:s') }}</td>
      <td class="td-icons">
        <a href="{{ site_url }}/admin/blogs/{{blog.id}}/{{blog.canonicalUrl}}">&#10002;</a>
        <a href="{{ site_url }}/admin/blogs/{{blog.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/blogs/{{blog.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}