{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'subscription_services'} )}}
<div class="content">
  <h1 class="list_header">{{ title }}</h1>
  <form method="POST" action="{{site_url}}/admin/subscription_services/{{subscription_service.id}}" enctype="multipart/form-data">
    <input type='hidden' name='_method' value='PUT'>
    <div class="form-group">
      <label for="subscription_services-name">Название<span class="red">*</span></label>
      <input type="text" class="form-control" id="subscription_services-name" name="name" placeholder="Название..." required value="{{subscription_service.name}}">
    </div>
  <div class="form-group">
    <label for="subscription_services-sub_title">Назначение<span class="red">*</span></label>
    <input type="text" class="form-control" id="subscription_services-sub_title" name="sub_title" placeholder="Назначение..." required value="{{subscription_service.subTitle}}">
  </div>
    <div class="form-group">
      <label for="subscription_services-file">Изображение (JPEG,  PNG)</label>
      <input type="file" class="form-control-file" name="file" id="subscription_services-file" accept="image/jpeg, image/png" >
    </div>
    <div class="form-group">
      <label>Текущее изображение</label><br />
          <a href="{{ site_url }}/files/{{files_dir}}/original/{{subscription_service.img}}" target="_blank" >
      <img src="{{ site_url }}/files/{{files_dir}}/200_w/{{subscription_service.img}}" alt="{{subscription_service.name}}" width="200" >
      </a>
    </div>
    <div class="form-group">
      <label for="subscription_service-description">Описание <span class="red">*</span></label>
      <textarea class="form-control" id="subscription_service-description" rows="5" name="description" required>{{subscription_service.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="subscription_services-price">Цена<span class="red">*</span></label>
      <input type="text" class="form-control" id="subscription_services-price" name="price" placeholder="Цена..." required value="{{subscription_service.price}}">
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      Ошибка! {{error_text}}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">
      Успешно обновлено!
    </div>
    {% endif %}
    <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
  </form>
  <h2>Входящие в пакет услуги</h1>
  <div id="sublist_block">
    <a name="sublist_block"></a>
    <div class="add_sublist_block">
      <form method="POST" action="{{site_url}}/admin/subscription_services/{{subscription_service.id}}/service_items">
        <div class="form-row ">
            <div class="form-group col-md-8">
              <label for="new_service_sitem">Услуга</label>
              <select id="new_service_sitem" class="form-control" name="service_item">
                 {% for other_item in other_items %}
                  <option value="{{other_item.id}}">{{other_item.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="new_amount">Количество</label>
              <input type="text" class="form-control" id="new_amount" name="amount" placeholder="Количество" required>
            </div>
            <div class="form-group col-md-2">
              <label for="add">Действие</label>
              <br>
              <button type="submit" class="btn btn-outline-success line_button_100" id="add" >+ Добавить</button>
            </div>
        </div>
      </form>
    </div>

    {% for item in service_items %}
    <div id="service_item_subscription_service_{{item.id}}" class="service_items">
      <a name="service_item_subscription_service_{{item.id}}"></a>
      <form method="POST" action="{{site_url}}/admin/subscription_services/{{subscription_service.id}}/service_items/{{item.serviceItemMap.id}}">
        <div class="form-row ">
            <div class="form-group col-md-8">
              <select id="new_service_sitem1" class="form-control" name="service_item">
                <option selected value="{{item.serviceItemMap.id}}">{{item.serviceItemMap.name}}</option>
                {% for other_item in other_items %}
                  <option value="{{other_item.id}}">{{other_item.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-2">
              <input type="text" class="form-control" id="new_amount1" name="amount" placeholder="Количество" required value="{{item.amount}}">
              </div>
            <div class="form-group col-md-1 sublist_actions">
              <button type="submit" class="btn btn-outline-primary line_button_100"  >&#10002;</button>
            </div>
            <div class="form-group col-md-1 sublist_actions">
              <a href="{{site_url}}/admin/subscription_services/{{subscription_service.id}}/service_items/{{item.serviceItemMap.id}}" class="btn btn-outline-dark line_button_100 restintag_item"  data-method="DELETE" data-target="{{site_url}}/admin/subscription_services/{{subscription_service.id}}/service_items/{{item.serviceItemMap.id}}" style="cursor:pointer">&#10006; </a>
            </div>
        </div>
        {% if success_sub_id and success_sub_id == item.serviceItemMap.id %}
        <div class="alert alert-success" role="alert">
          Успешно обновлено!
        </div>
        {% endif%}
      </form>
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript" src="{{site_url}}/js/restintag.jquery.js"></script>

<script>
    $(".restintag_item").restintag({
        disable: false
    },
    function(data) {
        console.log(data['id']);
        document.getElementById("service_item_subscription_service_" + data['id']).remove();
    },
    function(err_data) {
        alert("Неизвестная ошибка");
        console.log(err_data);
    });
</script>

{{ include('admin/common/footer.html.twig') }}