{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'subscription_services'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/subscription_services" enctype="multipart/form-data">
  <div class="form-group">
    <label for="subscription_services-name">Название<span class="red">*</span></label>
    <input type="text" class="form-control" id="subscription_services-name" name="name" placeholder="Название..." required>
  </div>
  <div class="form-group">
    <label for="subscription_services-sub_title">Назначение<span class="red">*</span></label>
    <input type="text" class="form-control" id="subscription_services-sub_title" name="sub_title" placeholder="Назначение..." required>
  </div>
  <div class="form-group">
    <label for="subscription_services-file">Изображение (JPEG,  PNG) <span class="red">*</span></label>
    <input type="file" class="form-control-file" name="file" id="subscription_services-file" accept="image/jpeg, image/png" required>
  </div>
  <div class="form-group">
    <label for="subscription_service-description">Текст <span class="red">*</span></label>
    <textarea class="form-control" id="subscription_service-description" rows="5" name="description" required></textarea>
  </div>
  <div class="form-group">
    <label for="subscription_services-price">Цена<span class="red">*</span></label>
    <input type="text" class="form-control" id="subscription_services-price" name="price" placeholder="Цена..." required>
  </div>
    {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">+ Добавить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}