{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'subscription_services'} )}}

<div class="content">
<a href="{{ site_url }}/admin/subscription_services/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить пакет</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 12%;">Изображение</th>
      <th scope="col" style="width: 53%;">Название</th>
      <th scope="col" style="width: 20%;">Цена</th>
      <th scope="col" style="width: 10%;"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for subscription_service in subscription_services %}
    <tr>
      <th scope="row">{{subscription_service.id}}</th>
      <td>
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{subscription_service.img}}" target="_blank" >
          <img src="{{ site_url }}/files/{{files_dir}}/100_w/{{subscription_service.img}}" alt="{{subscription_service.name}}" width="100" > 
        </a>
      </td>
      <td>{{subscription_service.name}}</td>
      <td>{{subscription_service.price}}</td>
      <td class="td-icons">
        <a href="{{ site_url }}/admin/subscription_services/{{subscription_service.id}}">&#10002;</a>
        <a href="{{ site_url }}/admin/subscription_services/{{subscription_service.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/subscription_services/{{subscription_service.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}