{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'about_items'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/about_items/{{about_item.id}}" enctype="multipart/form-data">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="about_items-file">Изображение (JPEG,  PNG) </label>
    <input type="file" class="form-control-file" name="file" id="about_items-file" accept="image/jpeg, image/png">
  </div>
  <div class="form-group">
    <label>Текущее изображение</label><br />
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{about_item.img}}" target="_blank" >
    <img src="{{ site_url }}/files/{{files_dir}}/200_w/{{about_item.img}}" width="200" >
    </a>
  </div>
  <div class="form-group">
    <label for="about_item-text">Текст <span class="red">*</span></label>
    <textarea class="form-control" id="about_item-text" rows="4" name="text" required>{{about_item.text}}</textarea>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success" role="alert">
    Успешно обновлено!
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}