{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'about_items'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/about_items" enctype="multipart/form-data">
  <div class="form-group">
    <label for="about_items-file">Изображение (JPEG,  PNG) <span class="red">*</span></label>
    <input type="file" class="form-control-file" name="file" id="about_items-file" accept="image/jpeg, image/png" required>
  </div>
  <div class="form-group">
    <label for="about_item-text">Текст <span class="red">*</span></label>
    <textarea class="form-control" id="about_item-text" rows="4" name="text" required></textarea>
  </div>
    {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">+ Добавить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}