{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'about_items'} )}}

<div class="content">
<a href="{{ site_url }}/admin/about_items/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить блок "О компании"</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 12%;">Изображение</th>
      <th scope="col" style="width: 73%;">Текст</th>
      <th scope="col" style="width: 10%;"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for about_item in about_items %}
    <tr>
      <th scope="row">{{about_item.id}}</th>
      <td>
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{about_item.img}}" target="_blank" >
          <img src="{{ site_url }}/files/{{files_dir}}/100_w/{{about_item.img}}"  width="100" > 
        </a>
      </td>
      <td>{{about_item.text}}</td>
      <td class="td-icons">
        <a href="{{ site_url }}/admin/about_items/{{about_item.id}}">&#10002;</a>
        <a href="{{ site_url }}/admin/about_items/{{about_item.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/about_items/{{about_item.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}