        <div class="advantages content_wrapper">
            <ul>
            {% for advantage in advantages_banner %}
                <li>
                    <div class="advantage">
                        <div class="image">
                            <img src="{{ site_url }}/files/advantages/300_w/{{advantage.img}}" class="sub_image" alt="{{advantage.title| slice(0,60)}}" title="{{advantage.title| slice(0,60)}}">
                            <img src="{{ site_url }}/files/advantages/300_w/{{advantage.img}}" alt="{{advantage.title| slice(0,60)}}" title="{{advantage.title| slice(0,60)}}">
                        </div>
                        <div class="text">
                            <h3>{{advantage.title | slice(0,60)}}</h3>
                            <p>{{advantage.text | slice(0,140)}}</p>
                        </div>
                    </div>
                </li>
    {% endfor %}
                
            </ul>
        </div>