    </main>
    <footer>
        <div class="content_wrapper footer_content">
            <div class="footer_logo item">
                <img src="{{ site_url }}/images/logo_footer.svg" id="logo_footer" alt="Amazon City Group - Юридическая компания" title="Amazon City Group - Юридическая компания">
            </div>
            <div class="footer_about item">
                <h4>{{json_blocks.footer_data.about.title}}</h4>
                <p>{{json_blocks.footer_data.about.text|raw}}</p>
            </div>
            <div class="footer_menu item">
                <h4>Меню</h4>
                <ul>
                    <li><a href="{{ site_url }}/about">О компании</a></li>
                    <li><a href="{{ site_url }}/subscription_services">Абонентское обслуживание</a></li>
                    <li><a href="{{ site_url }}/services/legal_entities">Услуги организациям</a></li>
                    <li><a href="{{ site_url }}/services/individuals">Услуги гражданам</a></li>
                    <li><a href="{{ site_url }}/prices">Цены</a></li>
                    <li><a href="{{ site_url }}/docs">Документы</a></li>
                    <li><a href="{{ site_url }}/blogs">Блог</a></li>
                    <li><a href="{{ site_url }}/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_contacts item">
                <h4>{{json_blocks.footer_data.contacts.title}}</h4>
                <a href="{{json_blocks.footer_data.contacts.telegram}}" class="footer_telegram"><img src="{{ site_url }}/images/icons/telegram_footer.svg" title="Telegram" alt="Telegram"></a>
                <a href="{{json_blocks.footer_data.contacts.whats_app}}" class="footer_whatsapp"><img src="{{ site_url }}/images/icons/whatsapp_footer.svg" title="WhatsApp" alt="WhatsApp"></a>
                <ul>
                    {% for item in json_blocks.footer_data.contacts.tels %}
                    <li><a href="tel:{{item[1]}}">{{item[0]}}</a></li>
                    {% endfor %}
                    <li>E-mail: <a href="mailto:{{json_blocks.footer_data.contacts.whats_app}}" target="_blank">{{json_blocks.footer_data.contacts.email}}</a></li>
                    <li>{{json_blocks.footer_data.contacts.address}}</li>
                    <li>График работы:<br />{{json_blocks.footer_data.contacts.work_time}}</li>
                </ul>
            </div>
        </div>

    </footer>
</body>
</html>