<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if seo is defined and seo.title is defined  %}
    <title>{{ seo.title }} | {{json_blocks.seo.default.title_postfix}} </title>
    <meta property="og:title" content="{{ seo.title }} | {{json_blocks.seo.default.title_postfix}}" />
{% else %}
    {# <title>Юридическая консультация в Москве. Цена консультации юриста онлайн и телефону | Amazon City Group </title>
    <meta property="og:title" content="Юридическая консультация в Москве. Цена консультации юриста онлайн и телефону | Amazon City Group" /> #}

    <title>{{json_blocks.seo.default.title}} | {{json_blocks.seo.default.title_postfix}} </title>
    <meta property="og:title" content="{{json_blocks.seo.default.title}} | {{json_blocks.seo.default.title_postfix}}" />
{% endif %}
    
    <meta property="og:locale" content="ru_RU" />
{% if seo is defined and seo.type is defined  %}
    {% if seo.type == 'noindex' %}
	<meta name='robots' content='noindex, follow' />
    {% else %}
    <meta property="og:type" content="{{seo.type}}" />
    {% endif %}
{% else %}
    <meta property="og:type" content="website" />
{% endif %}
    <meta property="og:site_name" content="{{json_blocks.seo.default.site_name}}" />

{% if seo is defined and seo.description is defined  %}
    <meta name="description" content="{{ seo.description }}" />
    <meta property="og:description" content="{{ seo.description }}" />
{% else %}
    <meta name="description" content="{{json_blocks.seo.default.description}}" />
    <meta property="og:description" content="{{json_blocks.seo.default.description}}" />
{% endif %}
{% if seo is defined and seo.canonical is defined  %}
    {% if seo.canonical == '' %}
    <link rel="canonical" href="{{ site_url }}" />
    <meta property="og:url" content="{{ site_url }}" />

    {% else %}
    <link rel="canonical" href="{{ site_url }}/{{seo.canonical}}" />
    <meta property="og:url" content="{{ site_url }}/{{seo.canonical}}" />
    {% endif %}
{% endif %}

{% if seo is defined and seo.img is defined  %}
    <meta property="og:image" content="{{ site_url }}/{{seo.img}}" />
{% else %}
    <meta property="og:image" content="{{ site_url }}/images/logo.svg" />
{% endif %}
{% if seo is defined and seo.last_modified_time is defined  %}
    <meta property="article:modified_time" content="{{seo.last_modified_time}}" />
{% endif %}
    <meta name="yandex-verification" content="d9ad3b522e4e7bad" />

{{ include('user/common/favicon.html.twig') }}
    <link rel='stylesheet' href='{{ site_url }}/css/main_styles.css' type='text/css' />
    <link rel="stylesheet" href="{{ site_url }}/css/swiper-bundle.min.css" />
    <script src="{{ site_url }}/js/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="{{ site_url }}/css/hystmodal.min.css">
    <script src="{{ site_url }}/js/hystmodal.min.js"></script>
    <script src="{{ site_url }}/js/phone_number.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(94735022, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/94735022" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>
<body>
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <div id="menu">
            <a href="{{ site_url }}" class="logo_header" >
                <img src="{{ site_url }}/images/logo.svg" alt="Amazon City Group - Юридическая компания" title="Amazon City Group - Юридическая компания" />
            </a>
            <ul>
                <li><a href="{{ site_url }}/about">О компании</a></li>
                <li><a href="{{ site_url }}/subscription_services">Абонентское обслуживание</a></li>
                <li><a href="{{ site_url }}/services/legal_entities">Услуги организациям</a></li>
                <li><a href="{{ site_url }}/services/individuals">Услуги гражданам</a></li>
                <li><a href="{{ site_url }}/prices">Цены</a></li>
                <li><a href="{{ site_url }}/docs">Документы</a></li>
                <li><a href="{{ site_url }}/blogs">Блог</a></li>
                <li><a href="{{ site_url }}/contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="content_wrapper">
            <a href="{{ site_url }}" class="logo_header" >
                <img src="{{ site_url }}/images/logo.svg" alt="Amazon City Group - Юридическая компания" title="Amazon City Group - Юридическая компания" />
            </a>
            <div class="contact_block inline">
                <ul>
                    <li><a ><img src="{{ site_url }}/images/icons/address.svg" title="Адрес" alt="Адрес">{{json_blocks.header_menu_data.address}}</a></li>
                    <li><a href="tel:{{json_blocks.header_menu_data.tel[1]}}"><img src="{{ site_url }}/images/icons/phone.svg" title="Телефон" alt="Телефон">{{json_blocks.header_menu_data.tel[0]}}</a></li>
                    <li><a href="mailto:{{json_blocks.header_menu_data.email}}" target="_blank"><img src="{{ site_url }}/images/icons/work-time.svg" title="Рабочее время" alt="Рабочее время">{{json_blocks.header_menu_data.work_time}}</a></li>
                    <li><a href="mailto:{{json_blocks.header_menu_data.email}}" target="_blank"><img src="{{ site_url }}/images/icons/mail-time.svg" title="Время ответов по email" alt="Время ответов по email">{{json_blocks.header_menu_data.email_time}}</a></li>
                </ul>
            </div>
            <div class="request_block inline">
                <ul>
                    <li><a href="{{json_blocks.header_menu_data.telegram}}"><img src="{{ site_url }}/images/icons/telegram.svg" title="Telegram" alt="Telegram"></a></li>
                    <li><a href="{{json_blocks.header_menu_data.whats_app}}"><img src="{{ site_url }}/images/icons/whatsapp.svg" title="WhatsApp" alt="WhatsApp"></a></li>
                    <li><a data-hystmodal="#request_modal"><button>Записаться</button></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="hystmodal" id="request_modal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button data-hystclose class="hystmodal__close">Close</button>  
                <div class="modal_request_form">
                    <h2>Заказать звонок</h2>
                    <form action="{{site_url}}/requests" method="POST" >
                        <input type="text" name="name" placeholder="Ваше имя" required  maxlength="20"/>
                        <input type="tel" name="phone" placeholder="Ваш телефон"  class="tel"  value="" pattern="^\+7 \([0-9]{3}\) [0-9]{3} [0-9]{4}$" required />
                        <input type="hidden" name="token" value="{{ csrf_token('add-request') }}"/>
{% if seo is defined and seo.canonical is defined  %}
                        <input type="hidden" name="url_src" value="{{ site_url }}/{{seo.canonical}}"/>
{% endif %}
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div> 
    </div>
    <script>
        const request_modal = new HystModal({
            linkAttributeName: "data-hystmodal",
        });
    </script>
    <main>