<div class="page_nav">
{% if is_need_start %} 
<div>
    <a href="?page[number]=1&page[size]={{page_size}}#{{name}}" >
        Начало
    </a>
  </div>
{% endif %}
{% for item in page_nav %}
  <div>
    <a href="?page[number]={{item['link']}}&page[size]={{page_size}}#{{name}}" {% if item['isActive'] %} class="active" {% endif %}>
        {{item['name']}}
    </a>
  </div>
{% endfor %}
{% if is_need_last %} 
<div>
    <a href="?page[number]={{total_pages}}&page[size]={{page_size}}#{{name}}" >
        Конец
    </a>
  </div>
{% endif %}
</div>