        <div class="block_title_wrapper">
            <div class="block_title_line">
            </div>
            <div class="block_title">
                <a href="{{site_url}}/persons">{{ block_name|default('Наша команда') }}</a>
            </div>
        </div>
        <div class="persons content_wrapper">   
            <table width="100%">
                <tr>
                    {% for index, person in persons_banner %}
                    <td>
                        <div class="person">
                            <a href="{{site_url}}/persons/{{person.id}}"><img src="{{ site_url }}/files/persons/crop_320_w/{{person.img}}"  alt="{{person.fullName}}" title="{{person.fullName}}"><br />
                            {{person.fullName}}</a>
                            <p class="qualification">{{person.position}}</p>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <a href="{{site_url}}/persons" class="watch_all">Все сотрудники</a>
        </div> 