        <div class="request_form">   
            <div>
                <h2>У вас есть вопрос?</h2>
                <form action="{{site_url}}/requests" method="POST" >
                <input type="text" name="name" placeholder="Ваше имя" required  maxlength="20"/><input type="tel"  name="phone" placeholder="Ваш телефон" class="tel"  value="" pattern="^\+7 \([0-9]{3}\) [0-9]{3} [0-9]{4}$" required />
                <input type="hidden" name="token" value="{{ csrf_token('add-request') }}"/>
{% if seo is defined and seo.canonical is defined  %}
                        <input type="hidden" name="url_src" value="{{ site_url }}/{{seo.canonical}}"/>
{% endif %}
                <button type="submit">Заказать звонок</button>
                </form>
            </div>
        </div>