        <div class="review_block">
            <div class="block_dark_top_shadow"></div>
            <div class="content_wrapper">
                <h2>Отзывы клиентов</h2>
                <div class="subtitle_border_bottom"></div>

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

            {% for review in reviews_banner %}
                        <div class="swiper-slide">
                            <p class="review_author">{{ review.author}}</p>
                            <p class="review_company_name"> {{ review.companyName}}</p>
                            <div class="review_text">
                                <p>{{ review.text|nl2br}}</p>
                            </div>   
                        </div>
              {% endfor %}

                    </div>
                    <div class="swiper-button-prev">❮</div>
                    <div class="swiper-button-next">❯</div>
                </div>
                <script>
                    var swiper = new Swiper(".mySwiper", {
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    autoplay: {
                        delay: 4000,
                        },
                    });
                </script>
            </div>
                <a href="{{site_url}}/reviews" class="watch_all">Смотреть все</a>
            <div class="block_dark_bottom_shadow"></div>
        </div>