<div class="block_title_wrapper">
            <div class="block_title_line">
            </div>
            <div class="content_wrapper">
                <div class="invert_block_title block_title block_title_left ">
                    <a>Наши услуги</a>
                </div>
            </div>
        </div> 
<div class="content_wrapper">
    <div class="swiper other_services content_wrapper">
        <div class="swiper-wrapper">
{% for service in service_banner %}
            <div class="swiper-slide service_item">
                <a href="{{site_url}}/services/{{service.type.value}}/{{service.canonicalUrl}}">
                    <div class="service_item_wrapper">
                        <h4>{{service.name|slice(0, 40)}}</h4>
                        <div class="delimiter_wrapper"><div class="delimiter"></div><div class="delimiter_mark"></div></div>
                        {% if (service.img != "") %}
                        <img src="{{site_url}}/files/services/65_w/{{service.img}}"alt="{{service.name|slice(0, 10)}}" title="{{service.name|slice(0, 40)}}">
                        {% endif %}
                    </div>
                </a>
            </div>
{% endfor %}


            </div>
    </div>
    <div class="swiper-button-prev">❮</div>
    <div class="swiper-button-next">❯</div>
</div>
<a href="{{site_url}}/prices" class="watch_all other_services_watch_all">Смотреть все</a>
<script>
var swiper = new Swiper(".other_services", {
    slidesPerView: "auto",
    spaceBetween: 30,
    autoplay: {
        delay: 4000,
        },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    pagination: {
    el: ".swiper-pagination",
    clickable: true,
    }
});
</script>