            <div class="menu_background">
                <div class="content_wrapper">
                    <a href="{{ site_url }}">
                        <img src="{{ site_url }}/images/logo.svg" id="logo" alt="Amazon City Group - Юридическая компания" title="Amazon City Group - Юридическая компания" />
                    </a>
                    <menu>
                        <menuitem  class="menu_dropable "><a href="{{ site_url }}/about" class="menu_link_item">О компании</a>
                            <div class="dropdown_content">
                                <a href="{{ site_url }}/persons">Сотрудники</a>
                                <a href="{{ site_url }}/reviews">Отзывы</a>
                                <a href="{{ site_url }}/docs">Документы</a>
                            </div>
                        </menuitem>
                        <menuitem class="menu_dropable" ><a  class="menu_link_item">Услуги</a>
                            <div class="dropdown_content">
                                <a href="{{ site_url }}/subscription_services">Абонентское обслуживание</a>
                                <a href="{{ site_url }}/services/legal_entities">Организациям</a>
                                <a href="{{ site_url }}/services/individuals">Гражданам</a>
                            </div>
                        </menuitem>
                        <menuitem><a href="{{ site_url }}/prices" class="menu_link_item">Цены</a></menuitem>
                        <menuitem><a href="{{ site_url }}/blogs" class="menu_link_item">Блог</a></menuitem>
                        <menuitem><a href="{{ site_url }}/contacts" class="menu_link_item">Контакты</a></menuitem>
                    </menu>
                </div>
            </div>