        <div class="block_title_wrapper">
            <div class="block_title_line">
            </div>
            <div class="content_wrapper">
                <div class="block_title block_title_left two_raw">
                    <a href="{{site_url}}/subscription_services">Абонентское обслуживание </a>
                </div>
            </div>
        </div> 

        <div class="subscription_services_block">
            <div class="content_wrapper">
            <div class="subscription_services_group_wrapper swiper">
                <div class="subscription_services_group swiper-wrapper">
                {% for index, subscription_service in subscription_services_banner %}
                    <div class="swiper-slide subscription_services_item item">
                        <div class="name">
                            <a href="{{ site_url }}/subscription_services/{{subscription_service.id}}">{{subscription_service.name}}</a>
                            <div class="underline"></div>
                        </div>
                        <div class="description">
                            {{subscription_service.subTitle}}
                        </div>
                        <div class="price">{{subscription_service.price}}</div>
                        <div class="button"><a href="{{ site_url }}/subscription_services/{{subscription_service.id}}">➔</a></div>
                    </div>
                {% endfor %}   
                   
                </div>
            </div>
            <div class="note">{{json_blocks.main_page_subscription_comment[0]}}</div>
            </div>
        </div>
        <script>
        var swiper_2 = new Swiper(".subscription_services_group_wrapper", {
            slidesPerView: "auto",
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
                },
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            }
        });
        </script>