{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'advantages'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/advantages" enctype="multipart/form-data">
  <div class="form-group">
    <label for="advantages-title">Заголовок<span class="red">*</span></label>
    <input type="text" class="form-control" id="advantages-title" name="title" placeholder="Заголовок..." required>
  </div>
  <div class="form-group">
    <label for="advantages-file">Изображение (JPEG,  PNG) <span class="red">*</span></label>
    <input type="file" class="form-control-file" name="file" id="advantages-file" accept="image/jpeg, image/png" required>
  </div>
  <div class="form-group">
    <label for="advantage-text">Текст <span class="red">*</span></label>
    <textarea class="form-control" id="advantage-text" rows="5" name="text" required></textarea>
  </div>
    {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">+ Добавить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}