{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'advantages'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/advantages/{{advantage.id}}" enctype="multipart/form-data">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="advantages-title">Заголовок<span class="red">*</span></label>
    <input type="text" class="form-control" id="advantages-title" name="title" placeholder="Заголовок..." required value="{{advantage.title}}">
  </div>
  <div class="form-group">
    <label for="advantages-file">Изображение (JPEG,  PNG) </label>
    <input type="file" class="form-control-file" name="file" id="advantages-file" accept="image/jpeg, image/png">
  </div>
  <div class="form-group">
    <label>Текущее изображение</label><br />
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{advantage.img}}" target="_blank" >
    <img src="{{ site_url }}/files/{{files_dir}}/200_w/{{advantage.img}}" alt="{{advantage.title}}" width="200" >
    </a>
  </div>
  <div class="form-group">
    <label for="advantage-text">Текст <span class="red">*</span></label>
    <textarea class="form-control" id="advantage-text" rows="5" name="text" required>{{advantage.text}}</textarea>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success" role="alert">
    Успешно обновлено!
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}