{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'advantages'} )}}

<div class="content">
<a href="{{ site_url }}/admin/advantages/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить преимущество</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 12%;">Изображение</th>
      <th scope="col" style="width: 33%;">Заголовок</th>
      <th scope="col" style="width: 40%;">Текст</th>
      <th scope="col" style="width: 10%;"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for advantage in advantages %}
    <tr>
      <th scope="row">{{advantage.id}}</th>
      <td>
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{advantage.img}}" target="_blank" >
          <img src="{{ site_url }}/files/{{files_dir}}/100_w/{{advantage.img}}" alt="{{advantage.title}}" width="100" > 
        </a>
      </td>
      <td>{{advantage.title}}</td>
      <td>{{advantage.text}}</td>
      <td class="td-icons">
        <a href="{{ site_url }}/admin/advantages/{{advantage.id}}">&#10002;</a>
        <a href="{{ site_url }}/admin/advantages/{{advantage.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/advantages/{{advantage.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}