{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'services'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/services/{{service.type.value}}/{{service.canonicalUrl}}" enctype="multipart/form-data">
  <input type='hidden' name='_method' value='PUT'>
  <div class="form-group">
    <label for="service-name">Название блока <span class="red">(должно быть уникальным) *</span></label>
    <input type="text" class="form-control" id="service-name" name="name" placeholder="Название блока услуг..." required value="{{service.name}}">
  </div>
  <div class="form-group">
    <label for="canonical-url">URL <span class="red">(должно быть уникальным) *</span></label>
    <input type="text" class="form-control" id="service-canonical-url" name="canonical-url" placeholder="URL ..." required value="{{service.canonicalUrl}}">
  </div>
  <div class="form-group">
    <label for="service-file">Иконка (JPEG,  PNG) </label>
    <input type="file" class="form-control-file" name="file" id="service-file" accept="image/jpeg, image/png">
  </div>
  <div class="form-group">
    <label>Текущая иконка</label><br />
    {% if service.img %}
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{service.img}}" target="_blank" >
    <img src="{{ site_url }}/files/{{files_dir}}/65_w/{{service.img}}" alt="{{service.name}}" width="65" >
    </a>
    {% else %}
    <div class="alert alert-warning" role="alert">
      Иконка отсутсвует!
    </div>
    {% endif%}
  </div>
  <div class="form-group">
    <label for="type">Тип <span class="red">*</span></label>
    <select class="custom-select" name="type" required>
      <option value="{{service.type.value}}">{{service.type.text()}}</option>
      {% for i in select_block %}
      <option value="{{i.value}}">{{i.text()}}</option>
    {% endfor %}
    </select>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success" role="alert">
    Успешно обновлено!
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">⟲ Обновить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}