{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'services'} )}}
<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/services" enctype="multipart/form-data">
  <div class="form-group">
    <label for="service-name">Название блока <span class="red">(должно быть уникальным) *</span></label>
    <input type="text" class="form-control" id="service-name" name="name" placeholder="Название блока услуг..." required>
  </div>
  <div class="form-group">
    <label for="service-file">Иконка (JPEG,  PNG) </label>
    <input type="file" class="form-control-file" name="file" id="service-file" accept="image/jpeg, image/png">
  </div>
  <div class="form-group">
    <label for="type">Тип <span class="red">*</span></label>
    <select class="custom-select" name="type" required>
      {% for i in select_block %}
      <option value="{{i.value}}">{{i.text()}}</option>
    {% endfor %}
    </select>
  </div>

    {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">+ Добавить</button>
</form>
</div>
{{ include('admin/common/footer.html.twig') }}