{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'services'} )}}

<div class="content">
<a href="{{ site_url }}/admin/services/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить услугу</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 20%;">Иконка</th>
      <th scope="col" style="width: 45%;">Название</th>
      <th scope="col" style="width: 20%;">Тип</th>
      <th scope="col" style="width: 10%;"  class="td-icons" class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
    <tr>
      <th scope="row">{{service.id}}</th>
      <td>
        {% if service.img %}
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{service.img}}" target="_blank" >
          <img src="{{ site_url }}/files/{{files_dir}}/65_w/{{service.img}}" alt="Услуга {{service.name}}" width="65" > 
        </a>
        {% else %}
          -
        {% endif %}
      </td>
      <td>{{service.name}}</td>
      <td>{{service.type.text()}}</td>
      <td  class="td-icons" >
        <a href="{{ site_url }}/admin/services/{{service.type.value}}/{{service.canonicalUrl}}">&#10002;</a>
        <a href="{{ site_url }}/admin/services/{{service.type.value}}/{{service.canonicalUrl}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/services/{{service.type.value}}/{{service.canonicalUrl}}" style="cursor:pointer">&#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}