{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: "Абонентское обслуживание", "link": "subscription_services"} ]}) }}
{{ include('user/common/title.html.twig', {title: json_blocks.titles.subscription_services.title, subtitle: json_blocks.titles.subscription_services.sub_title})}}
<div class="content_wrapper subscription_services">

        <p class="subscription_services_description">{{json_blocks.page_subscription_info.description}}</p>
            <a name="subscription_services"></a>
        <div class="subscription_services_wrapper subscription_services_common_wrapper">

            {% for index, subscription_service in subscription_services %}
            <div class="subscription_services_item item">
                <div class="name">
                        <a href="{{ site_url }}/subscription_services/{{subscription_service.id}}">{{subscription_service.name}}</a>
                        <div class="underline"></div>
                </div>
                <div class="description">
                        {{subscription_service.subTitle}}
                </div>
                <div class="price">{{subscription_service.price}}</div>
                <div class="button"><a href="{{ site_url }}/subscription_services/{{subscription_service.id}}">➔</a></div>
            </div>
        {% endfor %}
            
        </div>
</div>
        <div class="warp_1_5p"></div>
{{ include('user/common/persons.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}