{{ include('user/common/header.html.twig') }}
{{ include('user/common/subheader.html.twig', {breadcrumbs: [{name: "Главная", "link": ""},{name: "Абонентское обслуживание", "link": "subscription_services"} ]}) }}
{{ include('user/common/title.html.twig', {title: subscription_service.name, subtitle: 'Пакет'})}}



<div class="subscription_services_description_title_wrapper"><div><h2>Описание услуги</h2></div></div>
<div class="content_wrapper subscription_services_view">

    <div class="item_wrapper">
        <div class="item left_block_wrappeer">
            <p>{{subscription_service.description| nl2br}}</p>
        </div>
        <div class="item right_block_wrapper">
        <img src="{{site_url}}/files/subscription_services/560_w/{{subscription_service.img}}" alt="{{subscription_service.name}}" title="{{subscription_service.name}}">
            <div class="price_info">
            <span class="price_label">Стоимость</span>
            <span class="price_amout">{{subscription_service.price}}</span>
            <a data-hystmodal="#request_modal">Заказать</a>
            </div>
        </div>
    </div>
    <div class="subscription_services_list_wrapper">
        <input type="checkbox" id="toggle-1" class="open_hide_checkbox">
        <label for="toggle-1" class="open_hide">Что входит в пакет?<span class="arrow_wrapper_2"><span class="arrow_wrapper">▲</span></span></label>
        <div class="checkbox_wrapper subscription_services_list">
        {% for item in service_items %}
        <a href="{{site_url}}/services/{{item.serviceItemMap.service.type.value}}/{{item.serviceItemMap.service.canonicalUrl}}#{{item.serviceItemMap.id}}" ><span class="service_name">{{item.serviceItemMap.name}}</span><span class="service_amount">{{item.amount}}</span></a>
        {% endfor %}
        </div>
    </div>
</div>


        <div class="warp_1_5p"></div>
{{ include('user/common/persons.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/request.html.twig') }}
        <div class="warp_1_5p"></div>
{{ include('user/common/services.html.twig') }}
{{ include('user/common/reviews.html.twig') }}
{{ include('user/common/footer.html.twig') }}