{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'persons'} )}}

<div class="content">
<h1 class="list_header">{{ title }}</h1>
<form method="POST" action="{{site_url}}/admin/persons" enctype="multipart/form-data">
  <div class="form-group">
    <label for="persons-full-name">ФИО<span class="red">*</span></label>
    <input type="text" class="form-control" id="persons-full-name" name="full-name" placeholder="Иванов Иван Иванович" required>
  </div>
  <div class="form-group">
    <label for="personsFile">Фото сотрудника (JPEG,  PNG) <span class="red">*</span> </label>
    <input type="file" class="form-control-file" name="file" id="personsFile" accept="image/jpeg, image/png" required >
    <div id="img_preview" style="width: 350px" hidden>
    <img id="image" src="#" alt="your image" width="350">
    <div hidden>
      <input type="text" id="file-start-x" name="file-start-x" >
      <input type="text" id="file-start-y" name="file-start-y" >
      <input type="text" id="file-width" name="file-width" >
      <input type="text" id="file-height"  name="file-height" >
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="persons-rank">Rank<span class="red">*</span></label>
    <input type="number" class="form-control" id="persons-rank" name="rank" placeholder="Число чем ниже, тем ранг выше" required>
  </div>
  <div class="form-group">
    <label for="persons-position">Должность<span class="red">*</span></label>
    <input type="text" class="form-control" id="persons-position" name="position" placeholder="Юрист общей практики" required>
  </div>
  <div class="form-group">
    <label for="person-brief-info">Краткая информация <span class="red">*</span></label>
    <textarea class="form-control" id="person-brief-info" rows="5" name="brief-info"></textarea>
  </div>
  <div class="form-group">
    <label for="person-qualification">Квалификация и опыт работы <span class="red">*</span></label>
    <textarea class="form-control" id="person-qualification" rows="5" name="qualification" ></textarea>
    <script>
      $('#person-qualification').summernote({
        placeholder: 'Образование, специализация, опыт работы в области и прочее...',
        tabsize: 3,
        height: 150
      });
    </script>
  </div>
    {% if error %}
  <div class="alert alert-danger" role="alert">
    Ошибка! {{error_text}}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-outline-success">+ Добавить</button>
</form>
</div>

{{ include('admin/persons/common/crop.html.twig') }}
{{ include('admin/common/footer.html.twig') }}