{{ include('admin/common/header.html.twig') }}
{{ include('admin/common/nav.html.twig', {'active_nav': 'persons'} )}}

<div class="content">
<a href="{{ site_url }}/admin/persons/form"><button type="button" class="btn btn-outline-success add_float_buuton">+ Добавить сотрудника</button></a>
<h1 class="list_header">{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">Id</th>
      <th scope="col" style="width: 12%;">Фото</th>
      <th scope="col" style="width: 14%;">ФИО</th>
      <th scope="col" style="width: 9%;">Rank</th>
      <th scope="col" style="width: 10%;">Должность</th>
      <th scope="col" style="width: 25%;">Краткая информация</th>
      <th scope="col" style="width: 10%;"class="td-icons">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for person in persons %}
    <tr>
      <th scope="row">{{person.id}}</th>
      <td>
        <a href="{{ site_url }}/files/{{files_dir}}/original/{{person.img}}" target="_blank" >
          <img src="{{ site_url }}/files/{{files_dir}}/crop_100_w/{{person.img}}" alt="{{person.fullName}}"  title="{{person.fullName}}" width="100" > 
        </a>
      </td>
      <td>{{person.fullName}}</td>
      <td>{{person.rank}}</td>
      <td>{{person.position}}</td>
      <td>{{person.briefInfo}}</td>
      <td class="td-icons">
        <a href="{{ site_url }}/admin/persons/{{person.id}}">&#10002;</a>
        <a href="{{ site_url }}/admin/persons/{{person.id}}" data-method="DELETE" class="restintag_item" data-target="{{ site_url }}/admin/persons/{{person.id}}" style="cursor:pointer"> &#10006;</a>
      </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{{ include('admin/common/page_nav.html.twig') }}
</div>

{{ include('admin/common/restintag_config.html.twig') }}
{{ include('admin/common/footer.html.twig') }}